.promo-h1-promo {
  width: 100%;
  display: flex;
  padding: 48px;
  position: relative;
  max-width: 1000px;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.promo-h1-text {
  color: rgb(206, 120, 9);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.promo-h1-container {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: flex-start;
  overflow-x: scroll;
  align-items: center;
  flex-direction: row;
}
.promo-h1-promo1 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #e3e3e3;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  background-color: #ffffff;
}
.promo-h1-image {
  width: 249px;
  height: 249px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.promo-h1-container1 {
  width: 242px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.promo-h1-text01 {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.promo-h1-link {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: 0px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.promo-h1-link:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.promo-h1-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.promo-h1-text02 {
  color: var(--dl-color-gray-black);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
}
.promo-h1-promo2 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #e3e3e3;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  background-color: #ffffff;
}
.promo-h1-image1 {
  width: 249px;
  height: 249px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.promo-h1-container3 {
  width: 242px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.promo-h1-text03 {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.promo-h1-text04 {
  text-align: left;
  margin-bottom: var(--dl-space-space-unit);
}
.promo-h1-link1 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: 0px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.promo-h1-link1:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.promo-h1-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.promo-h1-text07 {
  color: var(--dl-color-gray-black);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
}
.promo-h1-promo3 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #e3e3e3;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  background-color: #ffffff;
}
.promo-h1-image2 {
  width: 249px;
  height: 249px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.promo-h1-container5 {
  width: 242px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.promo-h1-text08 {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.promo-h1-text09 {
  text-align: left;
  margin-bottom: var(--dl-space-space-unit);
}
.promo-h1-navlink {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: 0px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.promo-h1-navlink:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.promo-h1-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.promo-h1-text12 {
  color: var(--dl-color-gray-black);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
}
.promo-h1-promo31 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #e3e3e3;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  background-color: #ffffff;
}
.promo-h1-image3 {
  width: 249px;
  height: 249px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.promo-h1-container7 {
  width: 242px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.promo-h1-text13 {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.promo-h1-text14 {
  text-align: left;
  margin-bottom: var(--dl-space-space-unit);
}
.promo-h1-navlink1 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: 0px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.promo-h1-navlink1:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.promo-h1-container8 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.promo-h1-text17 {
  color: var(--dl-color-gray-black);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
}
.promo-h1-navlink2 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.promo-h1-navlink2:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}

@media(max-width: 767px) {
  .promo-h1-promo {
    padding-left: 32px;
    padding-right: 32px;
    flex-direction: column;
  }
  .promo-h1-text {
    font-size: 16px;
    text-align: center;
    margin-right: 0px;
  }
  .promo-h1-container1 {
    margin-left: var(--dl-space-space-unit);
  }
  .promo-h1-text01 {
    font-size: 1rem;
    text-align: left;
    margin-right: 0px;
  }
  .promo-h1-text02 {
    font-size: 0.5rem;
    text-align: center;
    margin-right: 0px;
  }
  .promo-h1-container3 {
    margin-left: var(--dl-space-space-unit);
  }
  .promo-h1-text03 {
    font-size: 1rem;
    text-align: center;
    margin-right: 0px;
  }
  .promo-h1-text04 {
    font-size: 1rem;
    text-align: center;
    margin-right: 0px;
  }
  .promo-h1-text07 {
    text-align: center;
    margin-right: 0px;
  }
  .promo-h1-container5 {
    margin-left: var(--dl-space-space-unit);
  }
  .promo-h1-text08 {
    font-size: 1rem;
    text-align: center;
    margin-right: 0px;
  }
  .promo-h1-text09 {
    font-size: 1rem;
    text-align: center;
    margin-right: 0px;
  }
  .promo-h1-text12 {
    font-size: 0.8rem;
    text-align: center;
    margin-right: 0px;
  }
  .promo-h1-container7 {
    margin-left: var(--dl-space-space-unit);
  }
  .promo-h1-text13 {
    font-size: 1rem;
    text-align: center;
    margin-right: 0px;
  }
  .promo-h1-text14 {
    font-size: 1rem;
    text-align: center;
    margin-right: 0px;
  }
  .promo-h1-text17 {
    font-size: 0.8rem;
    text-align: center;
    margin-right: 0px;
  }
}
@media(max-width: 479px) {
  .promo-h1-promo {
    height: auto;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: 32px;
    justify-content: center;
  }
  .promo-h1-text {
    font-size: 16px;
    text-align: center;
  }
  .promo-h1-container {
    height: 100%;
  }
  .promo-h1-promo1 {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .promo-h1-container1 {
    width: 100%;
    height: 100%;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .promo-h1-text01 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
  }
  .promo-h1-text02 {
    font-size: 12px;
    text-align: center;
  }
  .promo-h1-promo2 {
    height: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .promo-h1-container3 {
    width: 100%;
    height: 100%;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .promo-h1-text03 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
  }
  .promo-h1-text04 {
    text-align: left;
  }
  .promo-h1-text07 {
    font-size: 12px;
    text-align: center;
  }
  .promo-h1-promo3 {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .promo-h1-container5 {
    width: 100%;
    height: 100%;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .promo-h1-text08 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
  }
  .promo-h1-text09 {
    text-align: center;
  }
  .promo-h1-text12 {
    font-size: 12px;
    text-align: center;
  }
  .promo-h1-promo31 {
    height: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-right: 0px;
    flex-direction: column;
    justify-content: space-between;
  }
  .promo-h1-container7 {
    width: 100%;
    height: 100%;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .promo-h1-text13 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
  }
  .promo-h1-text14 {
    text-align: left;
  }
  .promo-h1-text17 {
    font-size: 12px;
    text-align: center;
  }
}

.footer-footer {
  z-index: 1;
  position: relative;
}
.footer-max-width {
  flex-wrap: wrap;
  align-self: center;
  flex-direction: row;
  justify-content: center;
}
.footer-top-part {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.footer-links-container {
  gap: var(--dl-space-space-twounits);
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-container {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-navlink {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-text01 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text01:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-navlink1 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  text-decoration: none;
}
.footer-navlink1:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-navigate-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text02 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-navlink2 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink2:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link01 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link01:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-navlink3 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink3:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-container1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-contact-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text03 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-link02 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link02:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link03 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link03:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link04 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link04:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link05 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link05:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link06 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link06:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-contact-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text04 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-link07 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link07:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link08 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link08:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-text05 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text05:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link09 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link09:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link10 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link10:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-subscribe-container {
  width: 329px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text06 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-text07 {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-link11 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.footer-link11:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: #D9D9D9;
}
.footer-max-width1 {
  flex-direction: row;
  justify-content: space-between;
}
.footer-image {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.footer-text08 {
  color: var(--dl-color-scheme-darkgray);
  font-size: 12px;
  align-self: center;
  font-family: Poppins;
  margin-right: var(--dl-space-space-halfunit);
}
.footer-text13 {
  color: var(--dl-color-scheme-darkgray);
  font-size: 12px;
  align-self: center;
  font-family: Poppins;
  margin-right: var(--dl-space-space-halfunit);
}
.footer-text18 {
  color: var(--dl-color-scheme-darkgray);
  font-size: 12px;
  align-self: center;
  font-family: Poppins;
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}

.footer-root-class-name1 {
  background-color: #ffffff;
}



@media(max-width: 767px) {
  .footer-footer {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .footer-top-part {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-links-container {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
  }
  .footer-subscribe-container {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .footer-top-part {
    align-items: center;
    flex-direction: column;
  }
  .footer-links-container {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-text {
    font-size: 16px;
  }
  .footer-navlink {
    color: var(--dl-color-scheme-black);
  }
  .footer-text01 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link {
    color: var(--dl-color-scheme-black);
  }
  .footer-navlink1 {
    color: var(--dl-color-scheme-black);
  }
  .footer-text02 {
    font-size: 16px;
  }
  .footer-navlink2 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link01 {
    color: var(--dl-color-scheme-black);
  }
  .footer-navlink3 {
    color: var(--dl-color-scheme-black);
  }
  .footer-contact-container {
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .footer-text03 {
    font-size: 16px;
  }
  .footer-link02 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link03 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link04 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link05 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link06 {
    color: var(--dl-color-scheme-black);
  }
  .footer-contact-container1 {
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .footer-text04 {
    font-size: 16px;
  }
  .footer-link07 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link08 {
    color: var(--dl-color-scheme-black);
  }
  .footer-text05 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link09 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link10 {
    color: var(--dl-color-scheme-black);
  }
  .footer-max-width1 {
    flex-direction: column;
  }
  .footer-image {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text08 {
    font-size: 12px;
    text-align: center;
  }
  .footer-text13 {
    font-size: 12px;
    text-align: center;
  }
  .footer-text18 {
    font-size: 12px;
    text-align: center;
  }
}

.wa-sales-container {
  width: 100%;
  bottom: 0;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
}
.wa-sales-text {
  font-size: 14px;
  margin-bottom: 5px;
}
.wa-sales-link {
  display: contents;
}
.wa-sales-katalog {
  width: 100%;
  cursor: pointer;
  height: 58px;
  display: flex;
  max-width: 685px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 80px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  text-decoration: none;
  background-color: #1aa100;
}
.wa-sales-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.wa-sales-text1 {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 0px;
}
.wa-sales-text4 {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 0px;
}

@media(max-width: 991px) {
  .wa-sales-katalog {
    justify-content: flex-start;
  }
  .wa-sales-text1 {
    text-align: center;
    margin-left: 0px;
  }
  .wa-sales-text4 {
    text-align: center;
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .wa-sales-katalog {
    justify-content: flex-start;
  }
  .wa-sales-text1 {
    font-size: 14px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-unit);
  }
  .wa-sales-text4 {
    font-size: 14px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .wa-sales-container {
    height: auto;
    z-index: 100;
    align-items: center;
    justify-content: flex-end;
  }
  .wa-sales-text {
    font-size: 10px;
    font-family: Poppins;
    margin-bottom: 5px;
  }
  .wa-sales-katalog {
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: center;
    margin-left: 0px;
    padding-top: var(--dl-space-space-halfunit);
    border-color: #ffffff;
    margin-right: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
    background-color: #1aa100;
  }
  .wa-sales-icon {
    fill: #ffffff;
  }
  .wa-sales-text1 {
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    margin-top: 0px;
    font-family: Poppins;
    font-weight: 500;
    margin-left: 0px;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: mixed;
  }
  .wa-sales-text4 {
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    margin-top: 0px;
    font-family: Poppins;
    font-weight: 500;
    margin-left: 0px;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: mixed;
  }
}

.counter-putri-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: auto;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.95) 0.00%,rgba(255, 255, 255, 0.95) 100.00%),url('https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/editor_images/unlogo.png');
  background-repeat: repeat;
  background-position: center;
}
.counter-putri-banner {
  width: 685px;
  display: flex;
  max-width: 1000px;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.counter-putri-image {
  width: 210px;
  height: 210px;
  object-fit: cover;
  flex-shrink: 0;
  border-color: rgb(206, 120, 9);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-round);
}
.counter-putri-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: 0px;
  flex-direction: column;
  justify-content: space-between;
}
.counter-putri-text {
  font-size: 20px;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.counter-putri-text01 {
  color: rgb(206, 120, 9);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.counter-putri-text04 {
  font-size: 14px;
  font-family: Poppins;
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.counter-putri-menu {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 685px;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.counter-putri-text07 {
  color: rgb(206, 120, 9);
  font-size: 16px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.counter-putri-link {
  display: contents;
}
.counter-putri-katalog {
  width: 100%;
  cursor: pointer;
  height: 58px;
  display: flex;
  max-width: 685px;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgb(206, 120, 9);
  border-style: solid;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 80px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  text-decoration: none;
}
.counter-putri-katalog:hover {
  transform: scale(110%);
  box-shadow: 5px 5px 10px 0px #b5b5b5;
  border-width: 2px;
  background-color: #ffffff;
}
.counter-putri-icon {
  fill: rgb(206, 120, 9);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.counter-putri-text08 {
  color: rgb(206, 120, 9);
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-right: 0px;
  margin-bottom: 0px;
}
.counter-putri-link1 {
  display: contents;
}
.counter-putri-katalog1 {
  width: 100%;
  cursor: pointer;
  height: 58px;
  display: flex;
  max-width: 685px;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgb(206, 120, 9);
  border-style: solid;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 80px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  text-decoration: none;
}
.counter-putri-katalog1:hover {
  transform: scale(110%);
  box-shadow: 5px 5px 10px 0px #b5b5b5;
  border-width: 2px;
  background-color: #ffffff;
}
.counter-putri-icon2 {
  fill: rgb(206, 120, 9);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.counter-putri-text11 {
  color: rgb(206, 120, 9);
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-right: 0px;
  margin-bottom: 0px;
}
.counter-putri-link2 {
  display: contents;
}
.counter-putri-katalog2 {
  width: 100%;
  cursor: pointer;
  height: 58px;
  display: flex;
  max-width: 685px;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgb(206, 120, 9);
  border-style: solid;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 80px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  text-decoration: none;
}
.counter-putri-katalog2:hover {
  transform: scale(110%);
  box-shadow: 5px 5px 10px 0px #b5b5b5;
  border-width: 2px;
  background-color: #ffffff;
}
.counter-putri-icon4 {
  fill: rgb(206, 120, 9);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.counter-putri-text14 {
  color: rgb(206, 120, 9);
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-right: 0px;
  margin-bottom: 0px;
}
.counter-putri-text17 {
  color: rgb(206, 120, 9);
  font-size: 16px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.counter-putri-link3 {
  display: contents;
}
.counter-putri-katalog3 {
  width: 100%;
  cursor: pointer;
  height: 58px;
  display: flex;
  max-width: 685px;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgb(206, 120, 9);
  border-style: solid;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 80px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  text-decoration: none;
}
.counter-putri-katalog3:hover {
  transform: scale(110%);
  box-shadow: 5px 5px 10px 0px #b5b5b5;
  border-width: 2px;
  background-color: #ffffff;
}
.counter-putri-image1 {
  fill: rgb(206, 120, 9);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.counter-putri-text18 {
  color: rgb(206, 120, 9);
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-right: 0px;
  margin-bottom: 0px;
}
.counter-putri-link4 {
  display: contents;
}
.counter-putri-katalog4 {
  width: 100%;
  cursor: pointer;
  height: 58px;
  display: flex;
  max-width: 685px;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgb(206, 120, 9);
  border-style: solid;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 80px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  text-decoration: none;
}
.counter-putri-katalog4:hover {
  transform: scale(110%);
  box-shadow: 5px 5px 10px 0px #b5b5b5;
  border-width: 2px;
  background-color: #ffffff;
}
.counter-putri-image2 {
  fill: rgb(206, 120, 9);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.counter-putri-text21 {
  color: rgb(206, 120, 9);
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-right: 0px;
  margin-bottom: 0px;
}
@media(max-width: 991px) {
  .counter-putri-banner {
    flex-direction: column;
  }
  .counter-putri-image {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
    margin-bottom: var(--dl-space-space-unit);
  }
  .counter-putri-container1 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .counter-putri-text01 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .counter-putri-text04 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .counter-putri-katalog {
    justify-content: flex-start;
  }
  .counter-putri-text08 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .counter-putri-katalog1 {
    justify-content: flex-start;
  }
  .counter-putri-text11 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .counter-putri-katalog2 {
    justify-content: flex-start;
  }
  .counter-putri-text14 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .counter-putri-katalog3 {
    justify-content: flex-start;
  }
  .counter-putri-text18 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .counter-putri-katalog4 {
    justify-content: flex-start;
  }
  .counter-putri-text21 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .counter-putri-banner {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .counter-putri-image {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .counter-putri-container1 {
    margin-left: 0px;
  }
  .counter-putri-text01 {
    font-size: 16px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .counter-putri-text04 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .counter-putri-katalog {
    justify-content: flex-start;
  }
  .counter-putri-text08 {
    font-size: 14px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .counter-putri-katalog1 {
    justify-content: flex-start;
  }
  .counter-putri-text11 {
    font-size: 14px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .counter-putri-katalog2 {
    justify-content: flex-start;
  }
  .counter-putri-text14 {
    font-size: 14px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .counter-putri-katalog3 {
    justify-content: flex-start;
  }
  .counter-putri-text18 {
    font-size: 14px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .counter-putri-katalog4 {
    justify-content: flex-start;
  }
  .counter-putri-text21 {
    font-size: 14px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .counter-putri-container {
    justify-content: flex-start;
  }
  .counter-putri-banner {
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
    justify-content: flex-start;
  }
  .counter-putri-image {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: #ffffff;
    border-width: 3px;
  }
  .counter-putri-container1 {
    margin-left: 0px;
    margin-bottom: 0px;
    justify-content: flex-start;
  }
  .counter-putri-text01 {
    color: rgb(206, 120, 9);
    font-size: 20px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
  }
  .counter-putri-text04 {
    font-size: 14px;
  }
  .counter-putri-menu {
    width: 100%;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-twounits);
  }
  .counter-putri-text07 {
    color: rgb(206, 120, 9);
  }
  .counter-putri-katalog {
    width: 100%;
    height: auto;
    align-items: center;
    margin-left: 0px;
    padding-top: var(--dl-space-space-halfunit);
    margin-right: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }
  .counter-putri-icon {
    fill: rgb(206, 120, 9);
  }
  .counter-putri-text08 {
    font-size: 14px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .counter-putri-katalog1 {
    width: 100%;
    height: auto;
    align-items: center;
    margin-left: 0px;
    padding-top: var(--dl-space-space-halfunit);
    margin-right: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }
  .counter-putri-text11 {
    font-size: 14px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .counter-putri-katalog2 {
    width: 100%;
    height: auto;
    align-items: center;
    margin-left: 0px;
    padding-top: var(--dl-space-space-halfunit);
    margin-right: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }
  .counter-putri-text14 {
    font-size: 14px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .counter-putri-text17 {
    color: rgb(206, 120, 9);
  }
  .counter-putri-katalog3 {
    width: 100%;
    height: auto;
    align-items: center;
    margin-left: 0px;
    padding-top: var(--dl-space-space-halfunit);
    margin-right: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }
  .counter-putri-text18 {
    color: rgb(206, 120, 9);
    font-size: 14px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .counter-putri-katalog4 {
    width: 100%;
    height: auto;
    align-items: center;
    margin-left: 0px;
    padding-top: var(--dl-space-space-halfunit);
    margin-right: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }
  .counter-putri-text21 {
    color: rgb(206, 120, 9);
    font-size: 14px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
