.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink1 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink2 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink3 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink4 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}










.navigation-links-root-class-name17 {
  margin-right: var(--dl-space-space-threeunits);
}

@media(max-width: 767px) {
  .navigation-links-nav {
    gap: var(--dl-space-space-halfunit);
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-root-class-name9 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links-navlink {
    margin-right: 41px;
  }
  .navigation-links-navlink1 {
    margin-right: 41px;
  }
  .navigation-links-navlink2 {
    margin-right: 41px;
  }
  .navigation-links-navlink3 {
    margin-right: 41px;
  }
  .navigation-links-navlink4 {
    margin-right: 41px;
  }
  .navigation-links-root-class-name9 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-root-class-name18 {
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 2;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
.navigation-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.navigation-image {
  width: 104px;
  height: 54px;
}
.navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-register {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(206, 120, 9);
}
.navigation-burger-menu {
  display: none;
}
.navigation-icon {
  fill: var(--dl-color-scheme-darkblue);
  width: 24px;
  height: 24px;
  display: flex;
}
.navigation-mobile-menu {
  z-index: 3;
}
.navigation-nav1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.navigation-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navigation-image1 {
  width: 104px;
  height: 54px;
}
.navigation-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-icon2 {
  width: 24px;
  height: 24px;
}
.navigation-link {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-text {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
}
.navigation-root-class-name {
  flex: 0;
}
@media(max-width: 991px) {
  .navigation-nav {
    display: none;
  }
  .navigation-burger-menu {
    display: flex;
  }
}
@media(max-width: 767px) {
  .navigation-max-width {
    padding: var(--dl-space-space-unit);
  }
  .navigation-link {
    color: #cecece;
    font-size: 12px;
    margin-top: 150px;
  }
  .navigation-text {
    color: #cecece;
    font-size: 6px;
  }
}
@media(max-width: 479px) {
  .navigation-header {
    z-index: 50;
  }
  .navigation-mobile-menu {
    z-index: 50;
  }
  .navigation-link {
    color: #cecece;
    font-size: 12px;
    margin-top: 150px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.6;
    margin-right: 0px;
    text-transform: capitalize;
  }
  .navigation-text {
    color: #cecece;
    font-size: 8px;
    margin-top: 0px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.6;
    margin-right: 0px;
    margin-bottom: 0px;
    text-transform: capitalize;
  }
}

.footer-footer {
  position: relative;
}
.footer-max-width {
  flex-wrap: wrap;
  align-self: center;
  flex-direction: row;
  justify-content: center;
}
.footer-top-part {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.footer-links-container {
  gap: var(--dl-space-space-twounits);
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-container {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-text01 {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text02 {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text03 {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text04 {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
}
.footer-navigate-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text05 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-text06 {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text07 {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
}
.footer-container1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-contact-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text08 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-text09 {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text10 {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text11 {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text12 {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-contact-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text13 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-text14 {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text15 {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text16 {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text17 {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text18 {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-subscribe-container {
  width: 329px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text19 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-text20 {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-link {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.footer-link:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: #D9D9D9;
}
.footer-max-width1 {
  flex-direction: row;
  justify-content: space-between;
}
.footer-image {
  width: 100px;
  object-fit: cover;
}
.footer-text21 {
  color: var(--dl-color-scheme-darkgray);
  font-size: 12px;
  align-self: center;
  font-family: Poppins;
}
.footer-link1 {
  text-decoration: underline;
}

.footer-root-class-name1 {
  background-color: #ffffff;
}
@media(max-width: 767px) {
  .footer-top-part {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-links-container {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
  }
  .footer-subscribe-container {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .footer-top-part {
    align-items: center;
    flex-direction: column;
  }
  .footer-links-container {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-text {
    font-size: 16px;
  }
  .footer-text05 {
    font-size: 16px;
  }
  .footer-contact-container {
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .footer-text08 {
    font-size: 16px;
  }
  .footer-contact-container1 {
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .footer-text13 {
    font-size: 16px;
  }
  .footer-max-width1 {
    flex-direction: column;
  }
  .footer-image {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text21 {
    font-size: 12px;
    text-align: center;
  }
}

.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  height: 561px;
  display: flex;
  position: relative;
  max-width: auto;
  align-self: center;
  margin-top: 73px;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.home-image {
  top: 0;
  right: 0;
  width: 628px;
  height: 546px;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-bottom-left-radius: 30%;
}
.home-content-container {
  width: 100%;
  display: flex;
  z-index: 1;
  max-width: 1000px;
  box-shadow: 5px 5px 10px 0px rgba(72, 72, 72, 0.21);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: 48px;
  border-radius: 35px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  background-color: rgba(255, 255, 255, 0.85);
}
.home-text {
  color: #ce7809;
  font-size: 30px;
  font-family: Poppins;
}
.home-subheading {
  color: var(--dl-color-primary-100);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.home-text001 {
  color: var(--dl-color-primary-100);
  font-family: Poppins;
  padding-top: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-container01 {
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: rgb(206, 120, 9);
}
.home-link {
  display: contents;
}
.home-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.home-features {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1000px;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.home-text002 {
  color: rgb(206, 120, 9);
  font-size: 30px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-container02 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-feature-card {
  width: 407px;
  height: 139px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  border-color: #ce7809;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
}
.home-image01 {
  width: 60px;
  object-fit: cover;
  margin-right: 24px;
}
.home-container03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text003 {
  color: rgb(206, 120, 9);
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
}
.home-text004 {
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
}
.home-text005 {
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 300;
}
.home-text005:hover {
  color: #14A9FF;
}
.home-feature-card1 {
  width: 407px;
  height: 139px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  border-color: #ce7809;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
}
.home-image02 {
  width: 60px;
  object-fit: cover;
  margin-right: 24px;
}
.home-container04 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text006 {
  color: rgb(206, 120, 9);
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
}
.home-text007 {
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
}
.home-text008 {
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 300;
}
.home-text008:hover {
  color: #14A9FF;
}
.home-feature-card2 {
  width: 407px;
  height: 139px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  border-color: #ce7809;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
}
.home-image03 {
  width: 60px;
  object-fit: cover;
  margin-right: 24px;
}
.home-container05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text009 {
  color: rgb(206, 120, 9);
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
}
.home-text010 {
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
}
.home-text011 {
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 300;
}
.home-text011:hover {
  color: #14A9FF;
}
.home-feature-card3 {
  width: 407px;
  height: 139px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  border-color: #ce7809;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
}
.home-image04 {
  width: 60px;
  object-fit: cover;
  margin-right: 24px;
}
.home-container06 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text012 {
  color: rgb(206, 120, 9);
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
}
.home-text013 {
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
}
.home-text014 {
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 300;
}
.home-text014:hover {
  color: #14A9FF;
}
.home-produk {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text015 {
  color: rgb(206, 120, 9);
  font-size: 30px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text016 {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container07 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  align-items: flex-start;
}
.home-be-at {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: space-between;
}
.home-be-at:hover {
  box-shadow: 5px 5px 10px 0px rgba(185, 185, 185, 0.35);
}
.home-image05 {
  width: 200px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-text017 {
  color: rgb(206, 120, 9);
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Poppins;
  font-weight: 600;
}
.home-text018 {
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Poppins;
  font-weight: 400;
}
.home-text019 {
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Poppins;
  font-weight: 400;
}
.home-navlink {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.home-navlink:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.home-genio {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: space-between;
}
.home-genio:hover {
  box-shadow: 5px 5px 10px 0px rgba(185, 185, 185, 0.35);
}
.home-image06 {
  width: 200px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-text020 {
  color: rgb(206, 120, 9);
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Poppins;
  font-weight: 600;
}
.home-text021 {
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Poppins;
  font-weight: 400;
}
.home-text022 {
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Poppins;
  font-weight: 400;
}
.home-navlink1 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.home-navlink1:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.home-vario-125 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: space-between;
}
.home-vario-125:hover {
  box-shadow: 5px 5px 10px 0px rgba(185, 185, 185, 0.35);
}
.home-image07 {
  width: 200px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-text023 {
  color: rgb(206, 120, 9);
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Poppins;
  font-weight: 600;
}
.home-text024 {
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Poppins;
  font-weight: 400;
}
.home-text025 {
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Poppins;
  font-weight: 400;
}
.home-navlink2 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.home-navlink2:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.home-vario-160 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: space-between;
}
.home-vario-160:hover {
  box-shadow: 5px 5px 10px 0px rgba(185, 185, 185, 0.35);
}
.home-image08 {
  width: 200px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-text026 {
  color: rgb(206, 120, 9);
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Poppins;
  font-weight: 600;
}
.home-text027 {
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Poppins;
  font-weight: 400;
}
.home-text028 {
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Poppins;
  font-weight: 400;
}
.home-navlink3 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.home-navlink3:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.home-pcx-160 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: space-between;
}
.home-pcx-160:hover {
  box-shadow: 5px 5px 10px 0px rgba(185, 185, 185, 0.35);
}
.home-image09 {
  width: 200px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-text029 {
  color: rgb(206, 120, 9);
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Poppins;
  font-weight: 600;
}
.home-text030 {
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Poppins;
  font-weight: 400;
}
.home-text031 {
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Poppins;
  font-weight: 400;
}
.home-navlink4 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.home-navlink4:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.home-adv-160 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: space-between;
}
.home-adv-160:hover {
  box-shadow: 5px 5px 10px 0px rgba(185, 185, 185, 0.35);
}
.home-image10 {
  width: 200px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-text032 {
  color: rgb(206, 120, 9);
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Poppins;
  font-weight: 600;
}
.home-text033 {
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Poppins;
  font-weight: 400;
}
.home-text034 {
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Poppins;
  font-weight: 400;
}
.home-navlink5 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.home-navlink5:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.home-text035 {
  color: var(--dl-color-gray-black);
  display: none;
  font-size: 16px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: 0px;
}
.home-text036 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-text036:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.home-layanan-kami {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text037 {
  color: rgb(206, 120, 9);
  font-size: 30px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text038 {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container08 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-layanan-h1 {
  width: auto;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.home-layanan-h1:hover {
  transform: scale(103%);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-image11 {
  width: 100%;
  height: 186px;
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 0px;
  background-color: var(--dl-color-gray-900);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.home-feature-card4 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.home-container09 {
  width: 324px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text039 {
  color: rgb(206, 120, 9);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.home-text040 {
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
}
.home-container10 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text041 {
  cursor: pointer;
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 300;
  margin-right: var(--dl-space-space-unit);
}
.home-text041:hover {
  color: #14A9FF;
}
.home-text042 {
  cursor: pointer;
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 300;
  margin-right: var(--dl-space-space-unit);
}
.home-text042:hover {
  color: #14A9FF;
}
.home-layanan-h23 {
  width: auto;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.home-layanan-h23:hover {
  transform: scale(103%);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-image12 {
  width: 100%;
  height: 186px;
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-900);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.home-feature-card5 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.home-container11 {
  width: 324px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text043 {
  color: rgb(206, 120, 9);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.home-text044 {
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
}
.home-text045 {
  cursor: pointer;
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 300;
  margin-right: var(--dl-space-space-unit);
}
.home-text045:hover {
  color: #14A9FF;
}
.home-layanan-stnk {
  width: auto;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.home-layanan-stnk:hover {
  transform: scale(103%);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-image13 {
  width: 100%;
  height: 186px;
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-900);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.home-feature-card6 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.home-container12 {
  width: 324px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text046 {
  color: rgb(206, 120, 9);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.home-text047 {
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
}
.home-text081 {
  cursor: pointer;
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 300;
  margin-right: var(--dl-space-space-unit);
}
.home-text081:hover {
  color: #14A9FF;
}
.home-layanan-bpkb {
  width: auto;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.home-layanan-bpkb:hover {
  transform: scale(103%);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-image14 {
  width: 100%;
  height: 186px;
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-900);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.home-feature-card7 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.home-container13 {
  width: 324px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text082 {
  color: rgb(206, 120, 9);
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.home-text083 {
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
}
.home-text117 {
  cursor: pointer;
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 300;
  margin-right: var(--dl-space-space-unit);
}
.home-text117:hover {
  color: #14A9FF;
}
.home-container14 {
  width: 100%;
  height: auto;
  display: flex;
  padding: 48px;
  max-width: 1000px;
  align-self: center;
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #efefef;
}
.home-container15 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-container16 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-text118 {
  color: rgb(206, 120, 9);
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 3px;
}
.home-text119 {
  color: rgb(206, 120, 9);
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 3px;
}
.home-text120 {
  color: rgb(206, 120, 9);
  font-size: 30px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 3px;
}
.home-text121 {
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
}
.home-container17 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-form {
  width: 100%;
  cursor: pointer;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-container18 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  justify-content: space-between;
}
.home-textinput {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  height: 40px;
  margin: 2px;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-textinput:hover {
  transform: scale(102%);
}
.home-textinput1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  height: 40px;
  margin: 2px;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-textinput1:hover {
  transform: scale(102%);
}
.home-container19 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2px;
  flex-direction: row;
  justify-content: center;
}
.home-select {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  height: 40px;
  margin: 2px;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 0.5em;
  background-color: var(--dl-color-gray-white);
}
.home-select:hover {
  transform: scale(102%);
}
.home-select1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  height: 40px;
  margin: 2px;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-white);
}
.home-select1:hover {
  transform: scale(102%);
}
.home-container20 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-text122 {
  font-size: 12px;
  margin-left: var(--dl-space-space-halfunit);
}
.home-button {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  height: 40px;
  margin: 2px;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #049200;
}
.home-button:hover {
  transform: scale(102%);
}
.home-text124:hover {
  transform: scale(102%);
}
@media(max-width: 991px) {
  .home-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .home-content-container {
    z-index: 100;
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .home-container08 {
    align-items: flex-start;
    justify-content: center;
  }
  .home-container09 {
    width: 224px;
  }
  .home-container11 {
    width: 224px;
  }
  .home-container12 {
    width: 224px;
  }
  .home-container13 {
    width: 224px;
  }
  .home-container14 {
    align-items: center;
    flex-direction: column;
  }
  .home-container15 {
    align-items: center;
  }
  .home-container17 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .home-hero {
    justify-content: center;
  }
  .home-content-container {
    align-items: center;
  }
  .home-text {
    font-size: 2.5rem;
  }
  .home-text001 {
    text-align: center;
  }
  .home-features {
    padding-left: 32px;
    padding-right: 32px;
    flex-direction: column;
  }
  .home-text002 {
    font-size: 2.5rem;
    text-align: center;
    margin-right: 0px;
  }
  .home-feature-card {
    width: 273px;
    height: 196px;
    flex-direction: row;
  }
  .home-container03 {
    flex-direction: column;
  }
  .home-feature-card1 {
    width: 273px;
    height: 196px;
    flex-direction: row;
  }
  .home-container04 {
    flex-direction: column;
  }
  .home-feature-card2 {
    width: 273px;
    height: 196px;
    flex-direction: row;
  }
  .home-container05 {
    flex-direction: column;
  }
  .home-feature-card3 {
    width: 273px;
    height: 196px;
    flex-direction: row;
  }
  .home-container06 {
    flex-direction: column;
  }
  .home-produk {
    padding-left: 32px;
    padding-right: 32px;
    flex-direction: column;
  }
  .home-text015 {
    font-size: 2.5rem;
    text-align: center;
    margin-right: 0px;
  }
  .home-text016 {
    font-size: 2.5rem;
    text-align: center;
    margin-right: 0px;
  }
  .home-text035 {
    font-size: 2.5rem;
    text-align: center;
    margin-right: 0px;
  }
  .home-layanan-kami {
    padding-left: 32px;
    padding-right: 32px;
    flex-direction: column;
  }
  .home-text037 {
    font-size: 2.5rem;
    text-align: center;
    margin-right: 0px;
  }
  .home-text038 {
    font-size: 2.5rem;
    text-align: center;
    margin-right: 0px;
  }
  .home-container08 {
    justify-content: center;
  }
  .home-feature-card4 {
    flex-direction: column;
  }
  .home-container09 {
    flex-direction: column;
  }
  .home-feature-card5 {
    flex-direction: column;
  }
  .home-container11 {
    flex-direction: column;
  }
  .home-feature-card6 {
    flex-direction: column;
  }
  .home-container12 {
    flex-direction: column;
  }
  .home-feature-card7 {
    flex-direction: column;
  }
  .home-container13 {
    flex-direction: column;
  }
  .home-container14 {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-text118 {
    font-size: 2.5rem;
    text-align: center;
    margin-right: 0px;
  }
  .home-text119 {
    font-size: 2.5rem;
    text-align: center;
    margin-right: 0px;
  }
  .home-text120 {
    font-size: 2.5rem;
    text-align: center;
    margin-right: 0px;
  }
  .home-container17 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .home-hero {
    height: 655px;
    max-width: auto;
    padding-top: 131px;
    margin-bottom: 0px;
    justify-content: space-between;
  }
  .home-image {
    width: 479px;
  }
  .home-content-container {
    width: 100%;
    z-index: 2;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-text {
    font-size: 2rem;
    text-align: center;
    font-family: Poppins;
  }
  .home-subheading {
    text-align: center;
    font-family: Poppins;
  }
  .home-text001 {
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-container01 {
    background-color: rgb(206, 120, 9);
  }
  .home-icon {
    fill: #ffffff;
    border-radius: var(--dl-radius-radius-radius8);
  }
  .home-features {
    height: auto;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: 32px;
    justify-content: center;
  }
  .home-text002 {
    font-size: 25px;
    text-align: center;
  }
  .home-feature-card {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .home-container03 {
    flex-direction: column;
  }
  .home-text003 {
    font-size: 16px;
    text-align: center;
  }
  .home-text004 {
    font-size: 12px;
  }
  .home-feature-card1 {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .home-container04 {
    flex-direction: column;
  }
  .home-text006 {
    font-size: 16px;
    text-align: center;
  }
  .home-text007 {
    font-size: 12px;
  }
  .home-feature-card2 {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .home-container05 {
    flex-direction: column;
  }
  .home-text009 {
    font-size: 16px;
    text-align: center;
  }
  .home-text010 {
    font-size: 12px;
  }
  .home-feature-card3 {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .home-container06 {
    flex-direction: column;
  }
  .home-text012 {
    font-size: 16px;
    text-align: center;
  }
  .home-text013 {
    font-size: 12px;
  }
  .home-produk {
    height: auto;
    align-self: center;
    align-items: center;
    padding-top: 32px;
    padding-left: var(--dl-space-space-halfunit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: 32px;
    justify-content: center;
  }
  .home-text015 {
    font-size: 25px;
    text-align: center;
  }
  .home-text016 {
    font-size: 16px;
    text-align: center;
  }
  .home-be-at {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .home-genio {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .home-vario-125 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .home-vario-160 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .home-pcx-160 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .home-adv-160 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .home-text035 {
    display: flex;
    font-size: 12px;
    text-align: center;
  }
  .home-text036 {
    margin-top: var(--dl-space-space-unit);
  }
  .home-layanan-kami {
    height: auto;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: 32px;
  }
  .home-text037 {
    font-size: 25px;
    text-align: center;
  }
  .home-text038 {
    font-size: 16px;
    text-align: center;
  }
  .home-container08 {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .home-layanan-h1 {
    width: 100%;
  }
  .home-image11 {
    width: 100%;
    height: 218px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-feature-card4 {
    width: auto;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container09 {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .home-text039 {
    font-size: 16px;
    text-align: center;
  }
  .home-text040 {
    font-size: 12px;
    align-self: flex-start;
  }
  .home-container10 {
    align-self: flex-start;
  }
  .home-text041 {
    align-self: flex-start;
  }
  .home-text042 {
    align-self: flex-start;
  }
  .home-layanan-h23 {
    width: 100%;
  }
  .home-image12 {
    width: 100%;
    height: 218px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-feature-card5 {
    width: auto;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container11 {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .home-text043 {
    font-size: 16px;
    text-align: center;
  }
  .home-text044 {
    font-size: 12px;
    align-self: flex-start;
  }
  .home-text045 {
    align-self: flex-start;
  }
  .home-layanan-stnk {
    width: 100%;
  }
  .home-image13 {
    width: 100%;
    height: 218px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-feature-card6 {
    width: auto;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container12 {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .home-text046 {
    font-size: 16px;
    text-align: center;
  }
  .home-text047 {
    font-size: 12px;
    align-self: flex-start;
  }
  .home-text081 {
    align-self: flex-start;
  }
  .home-layanan-bpkb {
    width: 100%;
  }
  .home-image14 {
    width: 100%;
    height: 218px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-feature-card7 {
    width: auto;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container13 {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .home-text082 {
    font-size: 16px;
    text-align: center;
  }
  .home-text083 {
    font-size: 12px;
    align-self: flex-start;
  }
  .home-text117 {
    align-self: flex-start;
  }
  .home-container14 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
    background-color: #e6e6e6;
  }
  .home-container16 {
    justify-content: center;
  }
  .home-text118 {
    font-size: 25px;
    text-align: center;
  }
  .home-text119 {
    font-size: 25px;
    text-align: center;
  }
  .home-text120 {
    font-size: 25px;
    text-align: center;
  }
  .home-text121 {
    font-size: 12px;
    align-self: flex-start;
  }
}
