.menu-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.menu-page-container1 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.menu-page-link {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.menu-page-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.menu-page-icon {
  fill: #008fbd;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.menu-page-text2 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
}
.menu-page-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.menu-page-icon2 {
  fill: #008fbd;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.menu-page-text3 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
}
.menu-page-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.menu-page-link1 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
@media(max-width: 991px) {
  .menu-page-icon {
    margin-right: 5px;
  }
  .menu-page-icon2 {
    margin-right: 5px;
  }
}
@media(max-width: 767px) {
  .menu-page-link {
    color: #cecece;
    font-size: 12px;
    margin-top: 150px;
  }
  .menu-page-container2 {
    align-items: flex-start;
  }
  .menu-page-icon {
    width: 10px;
    height: 10px;
  }
  .menu-page-text2 {
    color: #cecece;
    font-size: 6px;
  }
  .menu-page-icon2 {
    width: 10px;
    height: 10px;
  }
  .menu-page-text3 {
    color: #cecece;
    font-size: 6px;
  }
  .menu-page-link1 {
    color: #cecece;
    font-size: 6px;
  }
}
@media(max-width: 479px) {
  .menu-page-container1 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .menu-page-link {
    color: var(--dl-color-scheme-lightblue);
    font-size: 12px;
    font-style: normal;
    margin-top: 150px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.6;
    margin-right: 0px;
    margin-bottom: 5px;
    text-transform: capitalize;
    text-decoration: none;
  }
  .menu-page-container2 {
    margin-bottom: 5px;
    flex-direction: row;
  }
  .menu-page-icon {
    fill: #008fbd;
    width: 13px;
    height: 13px;
    margin-right: 3px;
  }
  .menu-page-text2 {
    color: var(--dl-color-scheme-lightblue);
    font-size: 8px;
    align-self: center;
    font-style: normal;
    margin-top: 0px;
    font-family: Poppins;
    font-weight: 300;
    line-height: 1.6;
    margin-right: 0px;
    margin-bottom: 0px;
    text-transform: capitalize;
  }
  .menu-page-container3 {
    margin-bottom: 5px;
    flex-direction: row;
  }
  .menu-page-icon2 {
    fill: #008fbd;
    width: 13px;
    height: 13px;
    margin-right: 3px;
  }
  .menu-page-text3 {
    color: var(--dl-color-scheme-lightblue);
    font-size: 8px;
    align-self: center;
    font-style: normal;
    margin-top: 0px;
    font-family: Poppins;
    font-weight: 300;
    line-height: 1.6;
    margin-right: 0px;
    margin-bottom: 0px;
    text-transform: capitalize;
  }
  .menu-page-container4 {
    margin-bottom: 5px;
    flex-direction: row;
  }
  .menu-page-link1 {
    color: var(--dl-color-scheme-lightblue);
    font-size: 8px;
    align-self: center;
    font-style: normal;
    margin-top: 0px;
    font-family: Poppins;
    font-weight: 300;
    line-height: 1.6;
    margin-right: 0px;
    margin-bottom: 0px;
    text-transform: capitalize;
    text-decoration: underline;
  }
}
