.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink1 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink2 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink3 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink4 {
  cursor: pointer;
  display: none;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink5 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}










.navigation-links-root-class-name17 {
  margin-right: var(--dl-space-space-threeunits);
}

@media(max-width: 767px) {
  .navigation-links-nav {
    gap: var(--dl-space-space-halfunit);
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink4 {
    display: flex;
  }
  .navigation-links-root-class-name9 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links-navlink {
    margin-right: 41px;
  }
  .navigation-links-navlink1 {
    margin-right: 41px;
  }
  .navigation-links-navlink2 {
    margin-right: 41px;
  }
  .navigation-links-navlink3 {
    margin-right: 41px;
  }
  .navigation-links-navlink4 {
    margin-right: 41px;
  }
  .navigation-links-navlink5 {
    margin-right: 41px;
  }
  .navigation-links-root-class-name9 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-root-class-name18 {
    margin-bottom: var(--dl-space-space-unit);
  }
}

.menu-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.menu-page-nav {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.menu-page-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.menu-page-image {
  width: 104px;
  height: 54px;
}
.menu-page-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-page-icon {
  width: 24px;
  height: 24px;
}
.menu-page-register {
  color: #b17c00;
  border-radius: var(--dl-radius-radius-radius8);
}
.menu-page-link {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.menu-page-text {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
}
@media(max-width: 767px) {
  .menu-page-register {
    color: #ffffff;
    font-size: 12px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 400;
    background-color: #b17c00;
  }
  .menu-page-link {
    color: #cecece;
    font-size: 12px;
    margin-top: 150px;
  }
  .menu-page-text {
    color: #cecece;
    font-size: 6px;
  }
}
@media(max-width: 479px) {
  .menu-page-register {
    font-size: 12px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 400;
  }
  .menu-page-link {
    color: #cecece;
    font-size: 12px;
    margin-top: 150px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.6;
    margin-right: 0px;
    text-transform: capitalize;
  }
  .menu-page-text {
    color: #cecece;
    font-size: 8px;
    margin-top: 0px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.6;
    margin-right: 0px;
    margin-bottom: 0px;
    text-transform: capitalize;
  }
}
