.pengisian-data-sukses-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.pengisian-data-sukses-image {
  width: 296px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-unit);
  border-top-left-radius: var(--dl-radius-radius-round);
  border-top-right-radius: var(--dl-radius-radius-round);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.pengisian-data-sukses-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.pengisian-data-sukses-sukses {
  width: 29px;
  height: 29px;
  object-fit: cover;
}
.pengisian-data-sukses-text {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 700;
}
.pengisian-data-sukses-text1 {
  font-size: 12px;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Poppins;
}
.pengisian-data-sukses-navlink {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.pengisian-data-sukses-navlink:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.pengisian-data-sukses-text6 {
  font-size: 12px;
  margin-top: 0px;
  font-family: Poppins;
  margin-bottom: var(--dl-space-space-unit);
}
.pengisian-data-sukses-container2 {
  gap: 15px;
  height: 45px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.pengisian-data-sukses-container3 {
  display: flex;
  padding: 2px;
  transform: translate(0px, -5px);
  transition: 0.8s;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: rgb(206, 120, 9);
}

.pengisian-data-sukses-icon {
  fill: var(--dl-color-gray-white);
  width: 15px;
  height: 15px;
  margin: var(--dl-space-space-halfunit);
  padding-top: 0px;
}
.pengisian-data-sukses-container4 {
  display: flex;
  padding: 2px;
  transform: translate(0px, -5px);
  transition: 0.8s;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: rgb(206, 120, 9);
}

.pengisian-data-sukses-icon2 {
  fill: var(--dl-color-gray-white);
  width: 15px;
  height: 15px;
  margin: var(--dl-space-space-halfunit);
  padding-top: 0px;
}
.pengisian-data-sukses-container5 {
  display: flex;
  padding: 2px;
  transform: translate(0px, -5px);
  transition: 0.8s;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: rgb(206, 120, 9);
}

.pengisian-data-sukses-image1 {
  width: 15px;
  height: 15px;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
  padding-top: 0px;
}
.pengisian-data-sukses-container6 {
  display: flex;
  padding: 2px;
  transform: translate(0px, -5px);
  transition: 0.8s;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: rgb(206, 120, 9);
}

.pengisian-data-sukses-icon4 {
  fill: var(--dl-color-gray-white);
  width: 15px;
  height: 15px;
  margin: var(--dl-space-space-halfunit);
  padding-top: 0px;
}
@media(max-width: 479px) {
  .pengisian-data-sukses-container {
    justify-content: center;
  }
  .pengisian-data-sukses-container1 {
    justify-content: center;
  }
  .pengisian-data-sukses-sukses {
    width: 44px;
    height: 44px;
  }
  .pengisian-data-sukses-text {
    font-size: 20px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
  }
  .pengisian-data-sukses-text1 {
    font-size: 12px;
    text-align: center;
    font-family: Poppins;
  }
  .pengisian-data-sukses-navlink {
    margin-top: var(--dl-space-space-oneandhalfunits);
  }
  .pengisian-data-sukses-text6 {
    font-size: 12px;
    margin-top: 0px;
    text-align: center;
    font-family: Poppins;
  }
}
