.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink1 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink2 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink3 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink4 {
  cursor: pointer;
  display: none;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink5 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}










.navigation-links-root-class-name17 {
  margin-right: var(--dl-space-space-threeunits);
}

@media(max-width: 767px) {
  .navigation-links-nav {
    gap: var(--dl-space-space-halfunit);
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink4 {
    display: flex;
  }
  .navigation-links-root-class-name9 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links-navlink {
    margin-right: 41px;
  }
  .navigation-links-navlink1 {
    margin-right: 41px;
  }
  .navigation-links-navlink2 {
    margin-right: 41px;
  }
  .navigation-links-navlink3 {
    margin-right: 41px;
  }
  .navigation-links-navlink4 {
    margin-right: 41px;
  }
  .navigation-links-navlink5 {
    margin-right: 41px;
  }
  .navigation-links-root-class-name9 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-root-class-name18 {
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 2;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
.navigation-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.navigation-navlink {
  display: contents;
}
.navigation-image {
  width: 104px;
  height: 54px;
  text-decoration: none;
}
.navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-register {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: rgb(206, 120, 9);
}
.navigation-burger-menu {
  display: none;
}
.navigation-icon {
  fill: var(--dl-color-scheme-darkblue);
  width: 24px;
  height: 24px;
  display: flex;
}
.navigation-mobile-menu {
  z-index: 3;
}
.navigation-nav1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.navigation-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navigation-image1 {
  width: 104px;
  height: 54px;
}
.navigation-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-icon2 {
  width: 24px;
  height: 24px;
}
.navigation-link {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-text {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
}
.navigation-root-class-name {
  flex: 0;
}

.navigation-root-class-name2 {
  flex: 0;
}
@media(max-width: 991px) {
  .navigation-nav {
    display: none;
  }
  .navigation-burger-menu {
    display: flex;
  }
}
@media(max-width: 767px) {
  .navigation-max-width {
    padding: var(--dl-space-space-unit);
  }
  .navigation-link {
    color: #cecece;
    font-size: 12px;
    margin-top: 150px;
  }
  .navigation-text {
    color: #cecece;
    font-size: 6px;
  }
}
@media(max-width: 479px) {
  .navigation-header {
    z-index: 50;
  }
  .navigation-mobile-menu {
    z-index: 50;
  }
  .navigation-link {
    color: #cecece;
    font-size: 12px;
    margin-top: 150px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.6;
    margin-right: 0px;
    text-transform: capitalize;
  }
  .navigation-text {
    color: #cecece;
    font-size: 8px;
    margin-top: 0px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.6;
    margin-right: 0px;
    margin-bottom: 0px;
    text-transform: capitalize;
  }
}

.cek-simulasi-kredit-cek-simulasi-kredit {
  width: 100%;
  height: auto;
  display: flex;
  padding: 48px;
  position: relative;
  max-width: 1000px;
  align-self: center;
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #efefef;
}
.cek-simulasi-kredit-container {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.cek-simulasi-kredit-container1 {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.cek-simulasi-kredit-text {
  color: rgb(206, 120, 9);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 3px;
}
.cek-simulasi-kredit-text1 {
  color: rgb(206, 120, 9);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 3px;
}
.cek-simulasi-kredit-text2 {
  color: rgb(206, 120, 9);
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 3px;
}
.cek-simulasi-kredit-text3 {
  font-size: 14px;
  align-self: center;
  font-style: normal;
  font-weight: 400;
}
.cek-simulasi-kredit-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.cek-simulasi-kredit-form {
  width: 100%;
  cursor: pointer;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cek-simulasi-kredit-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  justify-content: space-between;
}
.cek-simulasi-kredit-textinput {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  height: 40px;
  margin: 2px;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
}
.cek-simulasi-kredit-textinput:hover {
  transform: scale(102%);
}
.cek-simulasi-kredit-textinput1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  height: 40px;
  margin: 2px;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
}
.cek-simulasi-kredit-textinput1:hover {
  transform: scale(102%);
}
.cek-simulasi-kredit-container4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2px;
  flex-direction: row;
  justify-content: center;
}
.cek-simulasi-kredit-select {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  height: 40px;
  margin: 2px;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 0.5em;
  background-color: var(--dl-color-gray-white);
}
.cek-simulasi-kredit-select:hover {
  transform: scale(102%);
}
.cek-simulasi-kredit-select1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  height: 40px;
  margin: 2px;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-white);
}
.cek-simulasi-kredit-select1:hover {
  transform: scale(102%);
}
.cek-simulasi-kredit-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.cek-simulasi-kredit-text4 {
  font-size: 12px;
  margin-left: var(--dl-space-space-halfunit);
}
.cek-simulasi-kredit-button {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  height: 40px;
  margin: 2px;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #049200;
}
.cek-simulasi-kredit-button:hover {
  transform: scale(102%);
}
.cek-simulasi-kredit-text6:hover {
  transform: scale(102%);
}



@media(max-width: 991px) {
  .cek-simulasi-kredit-cek-simulasi-kredit {
    align-items: center;
    flex-direction: column;
  }
  .cek-simulasi-kredit-container {
    align-items: center;
  }
  .cek-simulasi-kredit-container1 {
    align-self: center;
    justify-content: center;
  }
  .cek-simulasi-kredit-text1 {
    text-align: center;
  }
  .cek-simulasi-kredit-text2 {
    align-self: center;
    text-align: center;
  }
  .cek-simulasi-kredit-text3 {
    align-self: center;
    text-align: center;
  }
  .cek-simulasi-kredit-container2 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .cek-simulasi-kredit-cek-simulasi-kredit {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }
  .cek-simulasi-kredit-container1 {
    justify-content: center;
  }
  .cek-simulasi-kredit-text {
    font-size: 16px;
    text-align: center;
    margin-right: 0px;
  }
  .cek-simulasi-kredit-text1 {
    font-size: 16px;
    text-align: center;
    margin-right: 0px;
  }
  .cek-simulasi-kredit-text2 {
    font-size: 20px;
    align-self: center;
    text-align: center;
    margin-right: 0px;
  }
  .cek-simulasi-kredit-text3 {
    align-self: center;
  }
  .cek-simulasi-kredit-container2 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .cek-simulasi-kredit-cek-simulasi-kredit {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
    background-color: #e6e6e6;
  }
  .cek-simulasi-kredit-container1 {
    justify-content: center;
  }
  .cek-simulasi-kredit-text {
    font-size: 16px;
    text-align: center;
  }
  .cek-simulasi-kredit-text1 {
    font-size: 16px;
    text-align: center;
  }
  .cek-simulasi-kredit-text2 {
    font-size: 20px;
    align-self: center;
    text-align: center;
  }
  .cek-simulasi-kredit-text3 {
    font-size: 14px;
    align-self: center;
  }
}

.footer-footer {
  z-index: 1;
  position: relative;
}
.footer-max-width {
  flex-wrap: wrap;
  align-self: center;
  flex-direction: row;
  justify-content: center;
}
.footer-top-part {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.footer-links-container {
  gap: var(--dl-space-space-twounits);
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-container {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-navlink {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-text01 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text01:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-navlink1 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  text-decoration: none;
}
.footer-navlink1:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-navigate-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text02 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-navlink2 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink2:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link01 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link01:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-navlink3 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink3:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-container1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-contact-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text03 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-link02 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link02:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link03 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link03:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link04 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link04:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link05 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link05:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link06 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link06:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-contact-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text04 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-link07 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link07:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link08 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link08:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-text05 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text05:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link09 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link09:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link10 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link10:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-subscribe-container {
  width: 329px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text06 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-text07 {
  font-size: 14px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-link11 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.footer-link11:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: #D9D9D9;
}
.footer-max-width1 {
  flex-direction: row;
  justify-content: space-between;
}
.footer-image {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.footer-text08 {
  color: var(--dl-color-scheme-darkgray);
  font-size: 12px;
  align-self: center;
  font-family: Poppins;
  margin-right: var(--dl-space-space-halfunit);
}
.footer-text13 {
  color: var(--dl-color-scheme-darkgray);
  font-size: 12px;
  align-self: center;
  font-family: Poppins;
  margin-right: var(--dl-space-space-halfunit);
}
.footer-text18 {
  color: var(--dl-color-scheme-darkgray);
  font-size: 12px;
  align-self: center;
  font-family: Poppins;
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}

.footer-root-class-name1 {
  background-color: #ffffff;
}



@media(max-width: 767px) {
  .footer-footer {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .footer-top-part {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-links-container {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
  }
  .footer-subscribe-container {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .footer-top-part {
    align-items: center;
    flex-direction: column;
  }
  .footer-links-container {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-text {
    font-size: 16px;
  }
  .footer-navlink {
    color: var(--dl-color-scheme-black);
  }
  .footer-text01 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link {
    color: var(--dl-color-scheme-black);
  }
  .footer-navlink1 {
    color: var(--dl-color-scheme-black);
  }
  .footer-text02 {
    font-size: 16px;
  }
  .footer-navlink2 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link01 {
    color: var(--dl-color-scheme-black);
  }
  .footer-navlink3 {
    color: var(--dl-color-scheme-black);
  }
  .footer-contact-container {
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .footer-text03 {
    font-size: 16px;
  }
  .footer-link02 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link03 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link04 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link05 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link06 {
    color: var(--dl-color-scheme-black);
  }
  .footer-contact-container1 {
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .footer-text04 {
    font-size: 16px;
  }
  .footer-link07 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link08 {
    color: var(--dl-color-scheme-black);
  }
  .footer-text05 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link09 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link10 {
    color: var(--dl-color-scheme-black);
  }
  .footer-max-width1 {
    flex-direction: column;
  }
  .footer-image {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text08 {
    font-size: 12px;
    text-align: center;
  }
  .footer-text13 {
    font-size: 12px;
    text-align: center;
  }
  .footer-text18 {
    font-size: 12px;
    text-align: center;
  }
}

.promo-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.promo-container01 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.promo-text {
  color: rgb(206, 120, 9);
  font-size: 30px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.promo-promo1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  max-width: 1000px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #e3e3e3;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  background-color: #ffffff;
}
.promo-image {
  width: 249px;
  height: 249px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.promo-container02 {
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.promo-text1 {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.promo-link {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: 0px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.promo-link:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.promo-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.promo-text2 {
  color: var(--dl-color-gray-black);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
}
.promo-promo2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  max-width: 1000px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #e3e3e3;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  background-color: #ffffff;
}
.promo-image1 {
  width: 249px;
  height: 249px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.promo-container04 {
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.promo-text3 {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.promo-link1 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: 0px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.promo-link1:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.promo-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.promo-text4 {
  color: var(--dl-color-gray-black);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
}
.promo-promo3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  max-width: 1000px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #e3e3e3;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  background-color: #ffffff;
}
.promo-image2 {
  width: 249px;
  height: 249px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.promo-container06 {
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.promo-text5 {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.promo-link2 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: 0px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.promo-link2:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.promo-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.promo-text6 {
  color: var(--dl-color-gray-black);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
}
.promo-promo4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  max-width: 1000px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #e3e3e3;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  background-color: #ffffff;
}
.promo-image3 {
  width: 249px;
  height: 249px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.promo-container08 {
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.promo-text7 {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.promo-link3 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: 0px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.promo-link3:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.promo-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.promo-text8 {
  color: var(--dl-color-gray-black);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
}
@media(max-width: 767px) {
  .promo-text {
    font-size: 2.5rem;
    text-align: center;
    margin-right: 0px;
  }
  .promo-container02 {
    margin-left: var(--dl-space-space-unit);
  }
  .promo-text1 {
    font-size: 1rem;
    text-align: left;
    margin-right: 0px;
  }
  .promo-text2 {
    font-size: 0.5rem;
    text-align: center;
    margin-right: 0px;
  }
  .promo-container04 {
    margin-left: var(--dl-space-space-unit);
  }
  .promo-text3 {
    font-size: 1rem;
    text-align: left;
    margin-right: 0px;
  }
  .promo-text4 {
    font-size: 0.5rem;
    text-align: center;
    margin-right: 0px;
  }
  .promo-container06 {
    margin-left: var(--dl-space-space-unit);
  }
  .promo-text5 {
    font-size: 1rem;
    text-align: left;
    margin-right: 0px;
  }
  .promo-text6 {
    font-size: 0.5rem;
    text-align: center;
    margin-right: 0px;
  }
  .promo-container08 {
    margin-left: var(--dl-space-space-unit);
  }
  .promo-text7 {
    font-size: 1rem;
    text-align: left;
    margin-right: 0px;
  }
  .promo-text8 {
    font-size: 0.5rem;
    text-align: center;
    margin-right: 0px;
  }
}
@media(max-width: 479px) {
  .promo-container01 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .promo-text {
    font-size: 25px;
    text-align: center;
  }
  .promo-promo1 {
    width: 100%;
    height: auto;
    margin-top: 0px;
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: row;
    justify-content: space-between;
  }
  .promo-image {
    width: 162px;
    height: 162px;
  }
  .promo-container02 {
    width: 100%;
    height: 100%;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-unit);
  }
  .promo-text1 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
  }
  .promo-container03 {
    align-items: flex-start;
  }
  .promo-text2 {
    font-size: 12px;
    text-align: left;
  }
  .promo-promo2 {
    width: 100%;
    height: auto;
    margin-top: 0px;
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: row;
    justify-content: space-between;
  }
  .promo-image1 {
    width: 162px;
    height: 162px;
  }
  .promo-container04 {
    width: 100%;
    height: 100%;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-unit);
  }
  .promo-text3 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
  }
  .promo-text4 {
    font-size: 12px;
    text-align: left;
  }
  .promo-promo3 {
    width: 100%;
    height: auto;
    margin-top: 0px;
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: row;
    justify-content: space-between;
  }
  .promo-image2 {
    width: 162px;
    height: 162px;
  }
  .promo-container06 {
    width: 100%;
    height: 100%;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-unit);
  }
  .promo-text5 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
  }
  .promo-text6 {
    font-size: 12px;
    text-align: left;
  }
  .promo-promo4 {
    width: 100%;
    height: auto;
    margin-top: 0px;
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: row;
    justify-content: space-between;
  }
  .promo-image3 {
    width: 162px;
    height: 162px;
  }
  .promo-container08 {
    width: 100%;
    height: 100%;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-unit);
  }
  .promo-text7 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
  }
  .promo-text8 {
    font-size: 12px;
    text-align: left;
  }
}
