.add-chat-container {
  right: 0;
  width: 63px;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(97, 97, 97, 0.7);
  align-items: flex-start;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.add-chat-link {
  display: contents;
}
.add-chat-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: #ce7809;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.add-chat-image {
  width: 30px;
  height: 30px;
  margin: 5px;
  object-fit: cover;
}
.add-chat-text {
  color: #ffffff;
  font-size: 9px;
  text-align: center;
  font-family: Poppins;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.add-chat-link1 {
  display: contents;
}
.add-chat-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: #ce7809;
}
.add-chat-image1 {
  width: 30px;
  height: 30px;
  margin: 5px;
  object-fit: cover;
}
.add-chat-text1 {
  color: #ffffff;
  font-size: 9px;
  text-align: center;
  font-family: Poppins;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.add-chat-navlink {
  display: contents;
}
.add-chat-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: #ce7809;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.add-chat-image2 {
  width: 30px;
  height: 30px;
  margin: 5px;
  object-fit: cover;
  margin-right: 5px;
}
.add-chat-text2 {
  color: #ffffff;
  font-size: 9px;
  text-align: center;
  font-family: Poppins;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.add-chat-root-class-name {
  margin-top: 250px;
  margin-right: var(--dl-space-space-halfunit);
}
.add-chat-root-class-name1 {
  margin-top: 250px;
  margin-right: var(--dl-space-space-halfunit);
}
@media(max-width: 991px) {
  .add-chat-container1 {
    width: 100%;
    height: auto;
  }
  .add-chat-text {
    font-size: 9px;
  }
  .add-chat-container2 {
    width: 100%;
    height: auto;
  }
  .add-chat-text1 {
    font-size: 9px;
  }
  .add-chat-container3 {
    width: 100%;
    height: auto;
  }
  .add-chat-text2 {
    font-size: 9px;
  }
}
@media(max-width: 767px) {
  .add-chat-container1 {
    width: 100%;
    height: auto;
  }
  .add-chat-image {
    width: 30px;
    height: 30px;
  }
  .add-chat-text {
    font-size: 9px;
  }
  .add-chat-container2 {
    width: 100%;
    height: auto;
  }
  .add-chat-image1 {
    width: 30px;
    height: 30px;
  }
  .add-chat-text1 {
    font-size: 9px;
  }
  .add-chat-container3 {
    width: 100%;
    height: auto;
  }
  .add-chat-image2 {
    width: 30px;
    height: 30px;
  }
  .add-chat-text2 {
    font-size: 9px;
  }
}
@media(max-width: 479px) {
  .add-chat-container1 {
    width: 100%;
    height: auto;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: #ce7809;
    border-top-left-radius: Radius8;
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .add-chat-image {
    width: 30px;
    height: 30px;
  }
  .add-chat-text {
    font-size: 9px;
  }
  .add-chat-container2 {
    width: 100%;
    height: auto;
    background-color: #ce7809;
  }
  .add-chat-image1 {
    width: 30px;
    height: 30px;
  }
  .add-chat-text1 {
    font-size: 9px;
  }
  .add-chat-container3 {
    width: 100%;
    height: auto;
    background-color: #ce7809;
  }
  .add-chat-image2 {
    width: 30px;
    height: 30px;
  }
  .add-chat-text2 {
    font-size: 9px;
  }
}
