.cek-simulasi-kredit-cek-simulasi-kredit {
  width: 100%;
  height: auto;
  display: flex;
  padding: 48px;
  position: relative;
  max-width: 1000px;
  align-self: center;
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #efefef;
}
.cek-simulasi-kredit-container {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.cek-simulasi-kredit-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.cek-simulasi-kredit-text {
  color: rgb(206, 120, 9);
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 3px;
}
.cek-simulasi-kredit-text1 {
  color: rgb(206, 120, 9);
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 3px;
}
.cek-simulasi-kredit-text2 {
  color: rgb(206, 120, 9);
  font-size: 30px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 3px;
}
.cek-simulasi-kredit-text3 {
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
}
.cek-simulasi-kredit-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.cek-simulasi-kredit-form {
  width: 100%;
  cursor: pointer;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cek-simulasi-kredit-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  justify-content: space-between;
}
.cek-simulasi-kredit-textinput {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  height: 40px;
  margin: 2px;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
}
.cek-simulasi-kredit-textinput:hover {
  transform: scale(102%);
}
.cek-simulasi-kredit-textinput1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  height: 40px;
  margin: 2px;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
}
.cek-simulasi-kredit-textinput1:hover {
  transform: scale(102%);
}
.cek-simulasi-kredit-container4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2px;
  flex-direction: row;
  justify-content: center;
}
.cek-simulasi-kredit-select {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  height: 40px;
  margin: 2px;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 0.5em;
  background-color: var(--dl-color-gray-white);
}
.cek-simulasi-kredit-select:hover {
  transform: scale(102%);
}
.cek-simulasi-kredit-select1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  height: 40px;
  margin: 2px;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-white);
}
.cek-simulasi-kredit-select1:hover {
  transform: scale(102%);
}
.cek-simulasi-kredit-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.cek-simulasi-kredit-text4 {
  font-size: 12px;
  margin-left: var(--dl-space-space-halfunit);
}
.cek-simulasi-kredit-button {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  height: 40px;
  margin: 2px;
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #049200;
}
.cek-simulasi-kredit-button:hover {
  transform: scale(102%);
}
.cek-simulasi-kredit-text6:hover {
  transform: scale(102%);
}



@media(max-width: 991px) {
  .cek-simulasi-kredit-cek-simulasi-kredit {
    align-items: center;
    flex-direction: column;
  }
  .cek-simulasi-kredit-container {
    align-items: center;
  }
  .cek-simulasi-kredit-text2 {
    align-self: flex-start;
  }
  .cek-simulasi-kredit-container2 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .cek-simulasi-kredit-cek-simulasi-kredit {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }
  .cek-simulasi-kredit-container1 {
    justify-content: center;
  }
  .cek-simulasi-kredit-text {
    font-size: 2.5rem;
    text-align: center;
    margin-right: 0px;
  }
  .cek-simulasi-kredit-text1 {
    font-size: 2.5rem;
    text-align: center;
    margin-right: 0px;
  }
  .cek-simulasi-kredit-text2 {
    font-size: 2.5rem;
    text-align: center;
    margin-right: 0px;
  }
  .cek-simulasi-kredit-text3 {
    align-self: center;
  }
  .cek-simulasi-kredit-container2 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .cek-simulasi-kredit-cek-simulasi-kredit {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
    background-color: #e6e6e6;
  }
  .cek-simulasi-kredit-container1 {
    justify-content: center;
  }
  .cek-simulasi-kredit-text {
    font-size: 25px;
    text-align: center;
  }
  .cek-simulasi-kredit-text1 {
    font-size: 25px;
    text-align: center;
  }
  .cek-simulasi-kredit-text2 {
    font-size: 25px;
    text-align: center;
  }
  .cek-simulasi-kredit-text3 {
    font-size: 12px;
    align-self: center;
  }
}
