.footer-footer {
  z-index: 1;
  position: relative;
}
.footer-max-width {
  flex-wrap: wrap;
  align-self: center;
  flex-direction: row;
  justify-content: center;
}
.footer-top-part {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.footer-links-container {
  gap: var(--dl-space-space-twounits);
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-container {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-navlink {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-text01 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text01:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-navlink1 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  text-decoration: none;
}
.footer-navlink1:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-navigate-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text02 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-navlink2 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink2:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link01 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link01:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-navlink3 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink3:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-container1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-contact-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text03 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-link02 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link02:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link03 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link03:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link04 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link04:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link05 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link05:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link06 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link06:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-contact-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text04 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-link07 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link07:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link08 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link08:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-text05 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text05:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link09 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link09:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-link10 {
  color: var(--dl-color-scheme-black);
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link10:hover {
  color: var(--dl-color-scheme-darkblue);
}
.footer-subscribe-container {
  width: 329px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text06 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-text07 {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-link11 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.footer-link11:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: #D9D9D9;
}
.footer-max-width1 {
  flex-direction: row;
  justify-content: space-between;
}
.footer-image {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.footer-text08 {
  color: var(--dl-color-scheme-darkgray);
  font-size: 12px;
  align-self: center;
  font-family: Poppins;
  margin-right: var(--dl-space-space-halfunit);
}
.footer-text13 {
  color: var(--dl-color-scheme-darkgray);
  font-size: 12px;
  align-self: center;
  font-family: Poppins;
  margin-right: var(--dl-space-space-halfunit);
}
.footer-text18 {
  color: var(--dl-color-scheme-darkgray);
  font-size: 12px;
  align-self: center;
  font-family: Poppins;
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}

.footer-root-class-name1 {
  background-color: #ffffff;
}



@media(max-width: 767px) {
  .footer-footer {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .footer-top-part {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-links-container {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
  }
  .footer-subscribe-container {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .footer-top-part {
    align-items: center;
    flex-direction: column;
  }
  .footer-links-container {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-text {
    font-size: 16px;
  }
  .footer-navlink {
    color: var(--dl-color-scheme-black);
  }
  .footer-text01 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link {
    color: var(--dl-color-scheme-black);
  }
  .footer-navlink1 {
    color: var(--dl-color-scheme-black);
  }
  .footer-text02 {
    font-size: 16px;
  }
  .footer-navlink2 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link01 {
    color: var(--dl-color-scheme-black);
  }
  .footer-navlink3 {
    color: var(--dl-color-scheme-black);
  }
  .footer-contact-container {
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .footer-text03 {
    font-size: 16px;
  }
  .footer-link02 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link03 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link04 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link05 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link06 {
    color: var(--dl-color-scheme-black);
  }
  .footer-contact-container1 {
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .footer-text04 {
    font-size: 16px;
  }
  .footer-link07 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link08 {
    color: var(--dl-color-scheme-black);
  }
  .footer-text05 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link09 {
    color: var(--dl-color-scheme-black);
  }
  .footer-link10 {
    color: var(--dl-color-scheme-black);
  }
  .footer-max-width1 {
    flex-direction: column;
  }
  .footer-image {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text08 {
    font-size: 12px;
    text-align: center;
  }
  .footer-text13 {
    font-size: 12px;
    text-align: center;
  }
  .footer-text18 {
    font-size: 12px;
    text-align: center;
  }
}
