.footer-home-footer {
  width: 100%;
  height: 442px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.footer-home-divider {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 1px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
  background-image: linear-gradient(90deg,transparent,rgba(0,0,0,.4),transparent);
}
.footer-home-container {
  width: 100%;
  height: 599px;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  position: relative;
  max-width: auto;
  max-height: auto;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.footer-home-container1 {
  width: 1354px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-home-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-home-navlink {
  display: contents;
}
.footer-home-image {
  width: 92px;
  height: 73px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-home-text {
  align-self: center;
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-home-menu {
  display: flex;
  justify-content: space-between;
}
.footer-home-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-home-text01 {
  font-size: 0.875rem;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-home-navlink1 {
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-decoration: none;
}
.footer-home-link {
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-decoration: none;
}
.footer-home-text02 {
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-decoration: none;
}
.footer-home-text03 {
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-home-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.footer-home-text06 {
  font-size: 0.875rem;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-home-navlink2 {
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-decoration: none;
}
.footer-home-link1 {
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-decoration: none;
}
.footer-home-link2 {
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-decoration: none;
}
.footer-home-link3 {
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-decoration: none;
}
.footer-home-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.footer-home-text07 {
  font-size: 0.875rem;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-home-navlink3 {
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-decoration: none;
}
.footer-home-navlink4 {
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-decoration: none;
}
.footer-home-navlink5 {
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-decoration: none;
}
.footer-home-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.footer-home-text08 {
  font-size: 0.875rem;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-home-navlink6 {
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-decoration: none;
}
.footer-home-navlink7 {
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-decoration: none;
}
.footer-home-gift {
  display: flex;
  align-self: center;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.footer-home-container6 {
  flex: 0 0 auto;
  width: 421px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.footer-home-text09 {
  font-size: 0.875rem;
  font-style: normal;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.5;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.footer-home-link4 {
  display: contents;
}
.footer-home-container7 {
  width: 215px;
  height: 39px;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius40);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #000000;
}
.footer-home-container7:hover {
  box-shadow: 5px 5px 10px 0px #c2c2c2;
  border-color: #ffffff;
  border-width: 4px;
  background-color: transparent;
  background-image: radial-gradient(circle at center top, rgb(254, 172, 94) 0.00%,rgb(75, 192, 200) 24.00%,rgb(199, 121, 208) 50.00%,rgb(75, 192, 200) 75.00%,rgb(75, 192, 200) 99.00%);
}
.footer-home-image1 {
  width: 27px;
  height: 27px;
  object-fit: cover;
}
.footer-home-text10 {
  color: #ffffff;
  margin: var(--dl-space-space-halfunit);
  font-size: 0.875rem;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}
.footer-home-copyright {
  display: flex;
  justify-content: space-between;
}
.footer-home-container8 {
  flex: 0 0 auto;
  width: 421px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-home-text11 {
  margin: var(--dl-space-space-halfunit);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 600;
}
.footer-home-text12 {
  margin-top: 0px;
  text-align: center;
  transition: 0.3s;
  font-family: Poppins;
}

@media(max-width: 1200px) {
  .footer-home-container1 {
    width: 100%;
  }
}
@media(max-width: 991px) {
  .footer-home-container {
    padding: var(--dl-space-space-doubleunit);
    background-color: #ffffff;
  }
  .footer-home-container3 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .footer-home-container4 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .footer-home-container5 {
    margin-left: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .footer-home-footer {
    height: 756px;
  }
  .footer-home-container1 {
    width: 652px;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .footer-home-logo {
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .footer-home-menu {
    flex-wrap: wrap;
  }
  .footer-home-container2 {
    width: 50%;
    margin-left: 0px;
  }
  .footer-home-container3 {
    width: 50%;
    margin-left: 0px;
  }
  .footer-home-container4 {
    width: 50%;
    margin-left: 0px;
  }
  .footer-home-container5 {
    width: 50%;
    margin-left: 0px;
  }
  .footer-home-gift {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-home-container6 {
    width: 641px;
    align-items: center;
    margin-left: 0px;
  }
  .footer-home-container7 {
    width: 238px;
    align-items: center;
    margin-left: 0px;
  }
  .footer-home-copyright {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-home-container8 {
    width: 641px;
    align-items: center;
    margin-left: 0px;
  }
}
@media(max-width: 414px) {
  .footer-home-footer {
    height: 784px;
  }
  .footer-home-divider {
    position: static;
    align-self: center;
  }
  .footer-home-container {
    height: 100%;
    max-width: auto;
    min-width: auto;
    align-self: center;
    margin-top: 0px;
    min-height: auto;
    align-items: center;
    flex-direction: column;
  }
  .footer-home-container1 {
    width: 100%;
    height: 497px;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .footer-home-logo {
    align-self: center;
    align-items: center;
    justify-content: flex-start;
  }
  .footer-home-image {
    align-self: center;
  }
  .footer-home-text {
    align-self: center;
  }
  .footer-home-link3 {
    font-size: 0.875rem;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.025rem;
    text-transform: none;
    text-decoration: none;
  }
  .footer-home-gift {
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .footer-home-container6 {
    width: 100%;
    align-self: center;
    align-items: center;
  }
  .footer-home-container7 {
    width: 237px;
  }
  .footer-home-container8 {
    width: 100%;
  }
}
