.layanan-ahass-promo {
  width: 100%;
  display: flex;
  padding: 48px;
  position: relative;
  max-width: 1000px;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.layanan-ahass-text {
  color: rgb(206, 120, 9);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.layanan-ahass-container {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: flex-start;
  overflow-x: scroll;
  align-items: center;
  flex-direction: row;
}
.layanan-ahass-promo1 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #e3e3e3;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  background-color: #ffffff;
}
.layanan-ahass-image {
  width: 417px;
  height: 249px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.layanan-ahass-container1 {
  width: 242px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.layanan-ahass-text1 {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.layanan-ahass-text2 {
  color: var(--dl-color-gray-black);
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  font-family: Poppins;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.layanan-ahass-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.layanan-ahass-link {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 0px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.layanan-ahass-link:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.layanan-ahass-promo11 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #e3e3e3;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  background-color: #ffffff;
}
.layanan-ahass-image1 {
  width: 417px;
  height: 249px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.layanan-ahass-container3 {
  width: 242px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.layanan-ahass-text3 {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.layanan-ahass-text4 {
  color: var(--dl-color-gray-black);
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  font-family: Poppins;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.layanan-ahass-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.layanan-ahass-link1 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 0px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.layanan-ahass-link1:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.layanan-ahass-promo12 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #e3e3e3;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  background-color: #ffffff;
}
.layanan-ahass-image2 {
  width: 417px;
  height: 249px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.layanan-ahass-container5 {
  width: 242px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.layanan-ahass-text5 {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.layanan-ahass-text6 {
  color: var(--dl-color-gray-black);
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  font-family: Poppins;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.layanan-ahass-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.layanan-ahass-link2 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 0px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.layanan-ahass-link2:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}
.layanan-ahass-text7 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: 0px;
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Poppins;
  font-weight: 400;
  border-radius: var(--dl-radius-radius-radius8);
}
.layanan-ahass-link3 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.layanan-ahass-link3:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}

@media(max-width: 991px) {
  .layanan-ahass-text1 {
    text-align: left;
  }
  .layanan-ahass-text2 {
    text-align: left;
  }
  .layanan-ahass-link {
    text-align: left;
  }
  .layanan-ahass-text3 {
    text-align: left;
  }
  .layanan-ahass-text4 {
    text-align: left;
  }
  .layanan-ahass-link1 {
    text-align: left;
  }
  .layanan-ahass-text5 {
    text-align: left;
  }
  .layanan-ahass-text6 {
    text-align: left;
  }
  .layanan-ahass-link2 {
    text-align: left;
  }
}
@media(max-width: 767px) {
  .layanan-ahass-promo {
    padding-left: 32px;
    padding-right: 32px;
    flex-direction: column;
  }
  .layanan-ahass-text {
    font-size: 16px;
    text-align: center;
    margin-right: 0px;
  }
  .layanan-ahass-container1 {
    margin-left: var(--dl-space-space-unit);
  }
  .layanan-ahass-text1 {
    font-size: 1rem;
    margin-right: 0px;
  }
  .layanan-ahass-text2 {
    font-size: 0.5rem;
    margin-right: 0px;
  }
  .layanan-ahass-container3 {
    margin-left: var(--dl-space-space-unit);
  }
  .layanan-ahass-text3 {
    font-size: 1rem;
    margin-right: 0px;
  }
  .layanan-ahass-text4 {
    font-size: 0.5rem;
    margin-right: 0px;
  }
  .layanan-ahass-container5 {
    margin-left: var(--dl-space-space-unit);
  }
  .layanan-ahass-text5 {
    font-size: 1rem;
    margin-right: 0px;
  }
  .layanan-ahass-text6 {
    font-size: 0.5rem;
    margin-right: 0px;
  }
}
@media(max-width: 479px) {
  .layanan-ahass-promo {
    height: auto;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: 32px;
    justify-content: center;
  }
  .layanan-ahass-text {
    font-size: 16px;
    text-align: center;
  }
  .layanan-ahass-container {
    height: 100%;
  }
  .layanan-ahass-promo1 {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .layanan-ahass-container1 {
    width: 100%;
    height: 100%;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .layanan-ahass-text1 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
  }
  .layanan-ahass-text2 {
    font-size: 12px;
  }
  .layanan-ahass-promo11 {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .layanan-ahass-container3 {
    width: 100%;
    height: 100%;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .layanan-ahass-text3 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
  }
  .layanan-ahass-text4 {
    font-size: 12px;
  }
  .layanan-ahass-promo12 {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .layanan-ahass-container5 {
    width: 100%;
    height: 100%;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .layanan-ahass-text5 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
  }
  .layanan-ahass-text6 {
    font-size: 12px;
  }
}
