.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink1 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink2 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink3 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink4 {
  cursor: pointer;
  display: none;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink5 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-link {
  cursor: pointer;
  display: none;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-link1 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  display: none;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.navigation-links-link1:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}










.navigation-links-root-class-name17 {
  margin-right: var(--dl-space-space-threeunits);
}

@media(max-width: 991px) {
  .navigation-links-link1 {
    display: none;
  }
}
@media(max-width: 767px) {
  .navigation-links-nav {
    gap: var(--dl-space-space-halfunit);
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink4 {
    display: flex;
  }
  .navigation-links-link {
    display: flex;
  }
  .navigation-links-link1 {
    display: flex;
  }
  .navigation-links-root-class-name9 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links-navlink {
    margin-right: 41px;
  }
  .navigation-links-navlink1 {
    margin-right: 41px;
  }
  .navigation-links-navlink2 {
    margin-right: 41px;
  }
  .navigation-links-navlink3 {
    margin-right: 41px;
  }
  .navigation-links-navlink4 {
    margin-right: 41px;
  }
  .navigation-links-navlink5 {
    margin-right: 41px;
  }
  .navigation-links-link {
    margin-right: 41px;
  }
  .navigation-links-root-class-name9 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-root-class-name18 {
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 2;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.11);
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
.navigation-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.navigation-navlink {
  display: contents;
}
.navigation-image {
  width: 104px;
  height: 54px;
  text-decoration: none;
}
.navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-register {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: rgb(206, 120, 9);
}
.navigation-burger-menu {
  display: none;
}
.navigation-icon {
  fill: var(--dl-color-scheme-darkblue);
  width: 24px;
  height: 24px;
  display: flex;
}
.navigation-mobile-menu {
  z-index: 3;
}
.navigation-nav1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.navigation-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navigation-image1 {
  width: 104px;
  height: 54px;
}
.navigation-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-icon2 {
  width: 24px;
  height: 24px;
}
.navigation-container1 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-link {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.navigation-icon4 {
  fill: #008fbd;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.navigation-text2 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
}
.navigation-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.navigation-icon6 {
  fill: #008fbd;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.navigation-text3 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
}
.navigation-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.navigation-link1 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-root-class-name {
  flex: 0;
}

.navigation-root-class-name2 {
  flex: 0;
}
@media(max-width: 991px) {
  .navigation-nav {
    display: none;
  }
  .navigation-burger-menu {
    display: flex;
  }
  .navigation-icon4 {
    margin-right: 5px;
  }
  .navigation-icon6 {
    margin-right: 5px;
  }
}
@media(max-width: 767px) {
  .navigation-max-width {
    padding: var(--dl-space-space-unit);
  }
  .navigation-link {
    color: #cecece;
    font-size: 12px;
    margin-top: 150px;
  }
  .navigation-container2 {
    align-items: flex-start;
  }
  .navigation-icon4 {
    width: 10px;
    height: 10px;
  }
  .navigation-text2 {
    color: #cecece;
    font-size: 6px;
  }
  .navigation-icon6 {
    width: 10px;
    height: 10px;
  }
  .navigation-text3 {
    color: #cecece;
    font-size: 6px;
  }
  .navigation-link1 {
    color: #cecece;
    font-size: 6px;
  }
}
@media(max-width: 479px) {
  .navigation-header {
    z-index: 50;
  }
  .navigation-mobile-menu {
    z-index: 50;
  }
  .navigation-nav1 {
    height: 100%;
    justify-content: flex-start;
  }
  .navigation-container1 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .navigation-link {
    color: var(--dl-color-scheme-lightblue);
    font-size: 12px;
    font-style: normal;
    margin-top: 150px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.6;
    margin-right: 0px;
    margin-bottom: 5px;
    text-transform: capitalize;
    text-decoration: none;
  }
  .navigation-container2 {
    margin-bottom: 5px;
    flex-direction: row;
  }
  .navigation-icon4 {
    fill: #008fbd;
    width: 13px;
    height: 13px;
    margin-right: 3px;
  }
  .navigation-text2 {
    color: var(--dl-color-scheme-lightblue);
    font-size: 8px;
    align-self: center;
    font-style: normal;
    margin-top: 0px;
    font-family: Poppins;
    font-weight: 300;
    line-height: 1.6;
    margin-right: 0px;
    margin-bottom: 0px;
    text-transform: capitalize;
  }
  .navigation-container3 {
    margin-bottom: 5px;
    flex-direction: row;
  }
  .navigation-icon6 {
    fill: #008fbd;
    width: 13px;
    height: 13px;
    margin-right: 3px;
  }
  .navigation-text3 {
    color: var(--dl-color-scheme-lightblue);
    font-size: 8px;
    align-self: center;
    font-style: normal;
    margin-top: 0px;
    font-family: Poppins;
    font-weight: 300;
    line-height: 1.6;
    margin-right: 0px;
    margin-bottom: 0px;
    text-transform: capitalize;
  }
  .navigation-container4 {
    margin-bottom: 5px;
    flex-direction: row;
  }
  .navigation-link1 {
    color: var(--dl-color-scheme-lightblue);
    font-size: 8px;
    align-self: center;
    font-style: normal;
    margin-top: 0px;
    font-family: Poppins;
    font-weight: 300;
    line-height: 1.6;
    margin-right: 0px;
    margin-bottom: 0px;
    text-transform: capitalize;
    text-decoration: underline;
  }
}
