.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink1 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink2 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink3 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink4 {
  cursor: pointer;
  display: none;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-navlink5 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-link {
  cursor: pointer;
  display: none;
  font-size: 12px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.6;
  margin-right: 41px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-link1 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  display: none;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.navigation-links-link1:hover {
  color: var(--dl-color-scheme-white);
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}










.navigation-links-root-class-name17 {
  margin-right: var(--dl-space-space-threeunits);
}

@media(max-width: 991px) {
  .navigation-links-link1 {
    display: none;
  }
}
@media(max-width: 767px) {
  .navigation-links-nav {
    gap: var(--dl-space-space-halfunit);
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink4 {
    display: flex;
  }
  .navigation-links-link {
    display: flex;
  }
  .navigation-links-link1 {
    display: flex;
  }
  .navigation-links-root-class-name9 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links-navlink {
    margin-right: 41px;
  }
  .navigation-links-navlink1 {
    margin-right: 41px;
  }
  .navigation-links-navlink2 {
    margin-right: 41px;
  }
  .navigation-links-navlink3 {
    margin-right: 41px;
  }
  .navigation-links-navlink4 {
    margin-right: 41px;
  }
  .navigation-links-navlink5 {
    margin-right: 41px;
  }
  .navigation-links-link {
    margin-right: 41px;
  }
  .navigation-links-root-class-name9 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-root-class-name18 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
