<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MPM Motor Madiun | Motor Honda terlengkap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: DM Sans;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: undefined;
        letter-spacing: normal;
        line-height: 1.3;
        color: var(--dl-color-scheme-darkblue);
        background-color: var(--dl-color-scheme-white);

      }
    </style>
    <link
      rel="shortcut icon"
      href="public/favicon1.png"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <style>
      .services-card:hover > div{
      background-color: #fff
      }
    </style>

    <!-- Google tag (gtag.js) -->

    <!-- Google Tag Manager -->

    <!-- End Google Tag Manager -->

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script
      async=""
      src="https://www.googletagmanager.com/gtag/js?id=G-GCQ2GNT3B2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-GCQ2GNT3B2');
    </script>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KGG6GQ4J');
    </script>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./promo-h23.css" rel="stylesheet" />
      <div class="promo-h23-promo">
        <h1 class="promo-h23-text"><span>Promo Bulan Ini</span></h1>
        <div class="promo-h23-container">
          <div id="Promo1" class="promo-h23-promo1">
            <img
              alt="Promo"
              src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/editor_images/promo2.jpg"
              loading="lazy"
              class="promo-h23-image"
            />
            <div class="promo-h23-container1">
              <h1 class="promo-h23-text01">
                <span>Dapatkan Diskon Hingga 3,7 Juta</span>
              </h1>
              <a
                href="https://api.whatsapp.com/send?phone=628125956151&amp;text=Saya%20ingin%20mengambil%20program%20promo%20Honda%20bulan%20ini%0A%0Awww.mpmmotormadiun.com%2Fpromo"
                target="_blank"
                rel="noreferrer noopener"
                class="promo-h23-link"
              >
                <span>Klaim Sekarang!</span>
              </a>
              <div class="promo-h23-container2">
                <h1 class="promo-h23-text02">
                  <span>Periode Juli - September 2023</span>
                </h1>
              </div>
            </div>
          </div>
          <div id="Promo2" class="promo-h23-promo2">
            <img
              alt="Promo"
              src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/editor_images/promo1.jpg"
              loading="lazy"
              class="promo-h23-image1"
            />
            <div class="promo-h23-container3">
              <h1 class="promo-h23-text03">
                <span class="promo-h23-text04">Promo! September ceria!</span>
                <br />
                <br />
              </h1>
              <a
                href="https://api.whatsapp.com/send?phone=628125956151&amp;text=Saya%20ingin%20mengambil%20program%20promo%20Honda%20bulan%20ini%0A%0Awww.mpmmotormadiun.com%2Fpromo"
                target="_blank"
                rel="noreferrer noopener"
                class="promo-h23-link1"
              >
                <span>Klaim Sekarang!</span>
              </a>
              <div class="promo-h23-container4">
                <h1 class="promo-h23-text07">
                  <span>Periode 1 - 30 September 2023</span>
                </h1>
              </div>
            </div>
          </div>
          <div id="Promo3" class="promo-h23-promo3">
            <img
              alt="Promo"
              src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/editor_images/Frame%2066.svg"
              loading="lazy"
              class="promo-h23-image2"
            />
            <div class="promo-h23-container5">
              <h1 class="promo-h23-text08">
                <span class="promo-h23-text09">Tidak tersedia</span>
                <br />
                <br />
              </h1>
              <a href="promo.html" class="promo-h23-navlink">
                <span>Klaim Sekarang!</span>
              </a>
              <div class="promo-h23-container6">
                <h1 class="promo-h23-text12"><span>tidak tersedia</span></h1>
              </div>
            </div>
          </div>
          <div id="Promo4" class="promo-h23-promo31">
            <img
              alt="Promo"
              src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/editor_images/Frame%2066.svg"
              loading="lazy"
              class="promo-h23-image3"
            />
            <div class="promo-h23-container7">
              <h1 class="promo-h23-text13">
                <span class="promo-h23-text14">Tidak tersedia</span>
                <br />
                <br />
              </h1>
              <a href="promo.html" class="promo-h23-navlink1">
                <span>Klaim Sekarang!</span>
              </a>
              <div class="promo-h23-container8">
                <h1 class="promo-h23-text17"><span>tidak tersedia</span></h1>
              </div>
            </div>
          </div>
        </div>
        <a href="promo.html" class="promo-h23-navlink2">
          <span>Lihat Promo Terbaru</span>
        </a>
      </div>
    </div>
    <script
      type="text/javascript"
      src="https://www.googletagmanager.com/gtag/js?id=G-GCQ2GNT3B2"
      async=""
    ></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'G-GCQ2GNT3B2');
    </script>
    <script type="text/javascript">
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
              j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
              'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
              })(window,document,'script','dataLayer','GTM-KGG6GQ4J');
    </script>
    <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script>
      window.onload = () => {
        const runAllScripts = () => {
          initializeAllSliders();
        };

        const listenForUrlChanges = () => {
          let url = location.href;
          document.body.addEventListener(
            "click",
            () => {
              requestAnimationFrame(() => {
                if (url !== location.href) {
                  runAllScripts();
                  url = location.href;
                }
              });
            },
            true
          );
        };

        const initializeAllSliders = () => {
          const allSliders = document.querySelectorAll('[data-type="slider"]');
          allSliders.forEach((slider) => {
            initializeSlider(slider);
          });
        };

        const initializeSlider = (slider) => {
          const slides = slider.querySelectorAll('[data-type="slide"]');
          const middle = Math.ceil(slides.length / 2);
          let currentSlide = middle;

          const nextSlideBtns = document.querySelectorAll(
            '[data-action="nextSlide"]'
          );
          const previousSlideBtns = document.querySelectorAll(
            '[data-action="previousSlide"]'
          );

          const changeSlide = (slideIndex, action) => {
            currentSlide = slideIndex;

            switch (action) {
              case "next":
                slideIndex === slides.length
                  ? (currentSlide = 1)
                  : currentSlide++;
                break;
              case "previous":
                slideIndex === 1
                  ? (currentSlide = slides.length)
                  : currentSlide--;
            }

            const slide = slides[0];
            if (!slide) {
              console.error("No slides present");
              return;
            }
            const style = window.getComputedStyle(slide);
            slideWidth =
              parseInt(style.width) +
              parseInt(style.marginLeft) +
              parseInt(style.marginRight);
            const transformValue = -slideWidth * (currentSlide - middle);

            slider.style.transform = `translateX(${transformValue}px)`;
          };

          previousSlideBtns.forEach((btn) => {
            btn.addEventListener("click", () =>
              changeSlide(currentSlide, "previous")
            );
          });

          nextSlideBtns.forEach((btn) => {
            btn.addEventListener("click", () =>
              changeSlide(currentSlide, "next")
            );
          });
        };

        runAllScripts();
      };
    </script>
    <script>
      let url = window.location.search;
      let urlParam = new URLSearchParams(url);

      let namaKonsumen = urlParam.get('nama_konsumen') || 'Sobat Honda';

      document.getElementById('nama_konsumen').innerHTML = namaKonsumen;
    </script>
  </body>
</html>
