.tag-tag {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(135deg, rgb(252, 0, 255) 0.00%,rgb(0, 219, 222) 100.00%);
}
.tag-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tag-text {
  color: rgb(0, 0, 0);
  margin: var(--dl-space-space-halfunit);
  text-align: center;
  transition: 0.3s;
  padding-top: 5px;
  padding-left: 6px;
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: 6px;
  padding-bottom: 5px;
  background-color: rgb(255, 255, 255);
}
.tag-text:hover {
  transform: scale(105%);
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 148, 255) 0.00%,rgb(0, 222, 213) 100.00%);
}
.tag-sroll {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  max-width: 1000px;
  align-self: center;
  overflow-x: scroll;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.tag-image {
  width: 100%;
  padding: var(--dl-space-space-unit);
  object-fit: cover;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: var(--dl-space-space-halfunit);
}
.tag-image:hover {
  padding: 0px;
  box-shadow: 4px 4px 20px 0px rgba(66, 66, 66, 0.48);
}
.tag-link {
  display: contents;
}
.tag-image1 {
  width: 100%;
  padding: var(--dl-space-space-unit);
  object-fit: cover;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.tag-image1:hover {
  padding: 0px;
  box-shadow: 4px 4px 20px 0px rgba(66, 66, 66, 0.48);
}
.tag-container1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.tag-text1 {
  color: #ffffff;
  margin: var(--dl-space-space-halfunit);
  text-align: center;
  padding-top: 5px;
  padding-left: 6px;
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: 6px;
  padding-bottom: 5px;
  background-color: #000000;
}
.tag-link1 {
  color: #000000;
  margin: var(--dl-space-space-halfunit);
  text-align: center;
  transition: 0.3s;
  padding-top: 5px;
  padding-left: 6px;
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: 6px;
  padding-bottom: 5px;
  text-decoration: none;
  background-color: #ffffff;
}
.tag-link1:hover {
  transform: scale(105%);
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 148, 255) 0.00%,rgb(0, 222, 213) 100.00%);
}
.tag-link2 {
  color: #000000;
  margin: var(--dl-space-space-halfunit);
  text-align: center;
  transition: 0.3s;
  padding-top: 5px;
  padding-left: 6px;
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: 6px;
  padding-bottom: 5px;
  text-decoration: none;
  background-color: #ffffff;
}
.tag-link2:hover {
  transform: scale(105%);
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 148, 255) 0.00%,rgb(0, 222, 213) 100.00%);
}
.tag-link3 {
  color: #000000;
  margin: var(--dl-space-space-halfunit);
  text-align: center;
  transition: 0.3s;
  padding-top: 5px;
  padding-left: 6px;
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: 6px;
  padding-bottom: 5px;
  text-decoration: none;
  background-color: #ffffff;
}
.tag-link3:hover {
  transform: scale(105%);
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 148, 255) 0.00%,rgb(0, 222, 213) 100.00%);
}
.tag-link4 {
  color: #000000;
  margin: var(--dl-space-space-halfunit);
  text-align: center;
  transition: 0.3s;
  padding-top: 5px;
  padding-left: 6px;
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: 6px;
  padding-bottom: 5px;
  text-decoration: none;
  background-color: #ffffff;
}
.tag-link4:hover {
  transform: scale(105%);
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 148, 255) 0.00%,rgb(0, 222, 213) 100.00%);
}
.tag-link5 {
  color: #000000;
  margin: var(--dl-space-space-halfunit);
  text-align: center;
  transition: 0.3s;
  padding-top: 5px;
  padding-left: 6px;
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: 6px;
  padding-bottom: 5px;
  text-decoration: none;
  background-color: #ffffff;
}
.tag-link5:hover {
  transform: scale(105%);
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 148, 255) 0.00%,rgb(0, 222, 213) 100.00%);
}
.tag-link6 {
  color: #000000;
  margin: var(--dl-space-space-halfunit);
  text-align: center;
  transition: 0.3s;
  padding-top: 5px;
  padding-left: 6px;
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: 6px;
  padding-bottom: 5px;
  text-decoration: none;
  background-color: #ffffff;
}
.tag-link6:hover {
  transform: scale(105%);
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 148, 255) 0.00%,rgb(0, 222, 213) 100.00%);
}
.tag-link7 {
  color: rgb(0, 0, 0);
  margin: var(--dl-space-space-halfunit);
  text-align: center;
  transition: 0.3s;
  padding-top: 5px;
  padding-left: 6px;
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: 6px;
  padding-bottom: 5px;
  background-color: rgb(255, 255, 255);
}
.tag-link7:hover {
  transform: scale(105%);
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(0, 148, 255) 0.00%,rgb(0, 222, 213) 100.00%);
}
@media(max-width: 1600px) {
  .tag-tag {
    flex-wrap: wrap;
  }
}
@media(max-width: 1200px) {
  .tag-tag {
    flex-wrap: wrap;
  }
}
@media(max-width: 991px) {
  .tag-tag {
    flex-wrap: wrap;
    padding-left: var(--dl-space-space-triplequarterunit);
    padding-right: var(--dl-space-space-triplequarterunit);
  }
  .tag-text {
    font-size: 0.6rem;
  }
  .tag-text1 {
    font-size: 0.6rem;
  }
  .tag-link1 {
    font-size: 0.6rem;
  }
  .tag-link2 {
    font-size: 0.6rem;
  }
  .tag-link3 {
    font-size: 0.6rem;
  }
  .tag-link4 {
    font-size: 0.6rem;
  }
  .tag-link5 {
    font-size: 0.6rem;
  }
  .tag-link6 {
    font-size: 0.6rem;
  }
  .tag-link7 {
    font-size: 0.6rem;
  }
}
@media(max-width: 767px) {
  .tag-tag {
    flex-wrap: wrap;
  }
}
@media(max-width: 414px) {
  .tag-tag {
    flex-wrap: wrap;
    padding-left: var(--dl-space-space-halfunit);
    flex-direction: row;
  }
  .tag-text {
    margin: 2px;
    padding: 4px;
    align-self: center;
    border-radius: 4px;
    background-color: #ffffff;
  }
  .tag-sroll {
    padding: 0px;
  }
  .tag-image {
    padding: var(--dl-space-space-halfunit);
  }
  .tag-image1 {
    padding: var(--dl-space-space-halfunit);
  }
  .tag-text1 {
    margin: 2px;
    padding: 4px;
    border-radius: 4px;
    background-color: #000000;
  }
  .tag-link1 {
    margin: 2px;
    padding: 4px;
    border-radius: 4px;
    background-color: #ffffff;
  }
  .tag-link2 {
    margin: 2px;
    padding: 4px;
    border-radius: 4px;
    background-color: #ffffff;
  }
  .tag-link3 {
    margin: 0px;
    padding: 4px;
    border-radius: 4px;
    background-color: #ffffff;
  }
  .tag-link4 {
    margin: 2px;
    padding: 4px;
    border-radius: 4px;
    background-color: #ffffff;
  }
  .tag-link5 {
    margin: 2px;
    padding: 4px;
    border-radius: 4px;
    background-color: #ffffff;
  }
  .tag-link6 {
    margin: 2px;
    padding: 4px;
    border-radius: 4px;
    background-color: #ffffff;
  }
  .tag-link7 {
    margin: 2px;
    padding: 4px;
    border-radius: 4px;
    background-color: #ffffff;
  }
}
