<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MPM Motor Madiun | Motor Honda terlengkap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: DM Sans;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: undefined;
        letter-spacing: normal;
        line-height: 1.3;
        color: var(--dl-color-scheme-darkblue);
        background-color: var(--dl-color-scheme-white);

      }
    </style>
    <link
      rel="shortcut icon"
      href="public/favicon1.png"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <style>
      .services-card:hover > div{
      background-color: #fff
      }
    </style>

    <!-- Google tag (gtag.js) -->

    <!-- Google Tag Manager -->

    <!-- End Google Tag Manager -->
    <script
      async=""
      src="https://www.googletagmanager.com/gtag/js?id=G-GCQ2GNT3B2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-GCQ2GNT3B2');
    </script>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KGG6GQ4J');
    </script>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./testimoni.css" rel="stylesheet" />
      <div class="testimoni-promo">
        <h1 class="testimoni-text">
          <span>Testimoni Konsumen Setia Kami</span>
        </h1>
        <div class="testimoni-container">
          <div id="Promo1" class="testimoni-promo1">
            <img
              alt="Promo"
              loading="lazy"
              src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/editor_images/WhatsApp%20Image%202023-09-21%20at%2019.09.38.jpg"
              class="testimoni-image"
            />
            <div class="testimoni-container01">
              <h1 class="testimoni-text01"><span>Terima Kasih</span></h1>
              <h1 class="testimoni-text02">
                <span>
                  Telah melakukan pembelian motor Honda dan mempercayai MPM
                  Motor Madiun sebagai tempat pembelian sepeda motor Honda anda.
                </span>
              </h1>
              <div class="testimoni-container02">
                <h1 class="testimoni-text03">
                  <span>Konsumen : Fuad Nur Salim</span>
                </h1>
              </div>
            </div>
          </div>
          <div id="Promo1" class="testimoni-promo11">
            <img
              alt="Promo"
              loading="lazy"
              src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/editor_images/WhatsApp%20Image%202023-09-21%20at%2019.11.50.jpg"
              class="testimoni-image1"
            />
            <div class="testimoni-container03">
              <h1 class="testimoni-text04"><span>Terima Kasih</span></h1>
              <h1 class="testimoni-text05">
                <span>
                  Telah melakukan pembelian motor Honda dan mempercayai MPM
                  Motor Madiun sebagai tempat pembelian sepeda motor Honda anda.
                </span>
              </h1>
              <div class="testimoni-container04">
                <h1 class="testimoni-text06">
                  <span>Konsumen : Winarti</span>
                </h1>
              </div>
            </div>
          </div>
          <div id="Promo1" class="testimoni-promo12">
            <img
              alt="Promo"
              loading="lazy"
              src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/editor_images/WhatsApp%20Image%202023-09-21%20at%2019.00.42.jpg"
              class="testimoni-image2"
            />
            <div class="testimoni-container05">
              <h1 class="testimoni-text07"><span>Terima Kasih</span></h1>
              <h1 class="testimoni-text08">
                <span>
                  Telah melakukan pembelian motor Honda dan mempercayai MPM
                  Motor Madiun sebagai tempat pembelian sepeda motor Honda anda.
                </span>
              </h1>
              <div class="testimoni-container06">
                <h1 class="testimoni-text09"><span>Konsumen : Arik</span></h1>
              </div>
            </div>
          </div>
          <div id="Promo1" class="testimoni-promo13">
            <img
              alt="Promo"
              loading="lazy"
              src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/editor_images/WhatsApp%20Image%202023-09-21%20at%2019.01.31.jpg"
              class="testimoni-image3"
            />
            <div class="testimoni-container07">
              <h1 class="testimoni-text10"><span>Terima Kasih</span></h1>
              <h1 class="testimoni-text11">
                <span>
                  Telah melakukan pembelian motor Honda dan mempercayai MPM
                  Motor Madiun sebagai tempat pembelian sepeda motor Honda anda.
                </span>
              </h1>
              <div class="testimoni-container08">
                <h1 class="testimoni-text12">
                  <span>Konsumen : Russeno</span>
                </h1>
              </div>
            </div>
          </div>
          <div id="Promo1" class="testimoni-promo14">
            <img
              alt="Promo"
              loading="lazy"
              src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/editor_images/WhatsApp%20Image%202023-09-21%20at%2018.55.25.jpg"
              class="testimoni-image4"
            />
            <div class="testimoni-container09">
              <h1 class="testimoni-text13"><span>Terima Kasih</span></h1>
              <h1 class="testimoni-text14">
                <span>
                  Telah melakukan pembelian motor Honda dan mempercayai MPM
                  Motor Madiun sebagai tempat pembelian sepeda motor Honda anda.
                </span>
              </h1>
              <div class="testimoni-container10">
                <h1 class="testimoni-text15"><span>Konsumen : Eka</span></h1>
              </div>
            </div>
          </div>
          <div id="Promo1" class="testimoni-promo15">
            <img
              alt="Promo"
              loading="lazy"
              src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/editor_images/WhatsApp%20Image%202023-09-21%20at%2019.00.41.jpg"
              class="testimoni-image5"
            />
            <div class="testimoni-container11">
              <h1 class="testimoni-text16"><span>Terima Kasih</span></h1>
              <h1 class="testimoni-text17">
                <span>
                  Telah melakukan pembelian motor Honda dan mempercayai MPM
                  Motor Madiun sebagai tempat pembelian sepeda motor Honda anda.
                </span>
              </h1>
              <div class="testimoni-container12">
                <h1 class="testimoni-text18"><span>Konsumen : Lila</span></h1>
              </div>
            </div>
          </div>
        </div>
        <div class="testimoni-container13">
          <a
            href="https://www.google.com/search?q=mpm+motor+madiun&amp;rlz=1C1ONGR_idID1074ID1074&amp;oq=mpm+motor+madiun&amp;gs_lcrp=EgZjaHJvbWUyCQgAEEUYORiABDINCAEQLhivARjHARiABDIICAIQABgWGB4yCAgDEAAYFhgeMggIBBAAGBYYHjIGCAUQRRg9MgYIBhBFGD0yBggHEEUYPdIBCDI5ODZqMGo0qAIAsAIA&amp;sourceid=chrome&amp;ie=UTF-8&amp;bshm=rime/1#lrd=0x2e79bef58a25cad1:0x201c673ea5c7346d,3,,,,"
            target="_blank"
            rel="noreferrer noopener"
            class="testimoni-link"
          >
            <span>Ulas kami di sini ⭐⭐⭐⭐⭐</span>
          </a>
          <img
            alt="image"
            src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/editor_images/click.gif"
            class="testimoni-image6"
          />
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="https://www.googletagmanager.com/gtag/js?id=G-GCQ2GNT3B2"
      async=""
    ></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'G-GCQ2GNT3B2');
    </script>
    <script type="text/javascript">
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
              j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
              'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
              })(window,document,'script','dataLayer','GTM-KGG6GQ4J');
    </script>
    <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
    <script>
      window.onload = () => {
        const runAllScripts = () => {
          initializeAllSliders();
        };

        const listenForUrlChanges = () => {
          let url = location.href;
          document.body.addEventListener(
            "click",
            () => {
              requestAnimationFrame(() => {
                if (url !== location.href) {
                  runAllScripts();
                  url = location.href;
                }
              });
            },
            true
          );
        };

        const initializeAllSliders = () => {
          const allSliders = document.querySelectorAll('[data-type="slider"]');
          allSliders.forEach((slider) => {
            initializeSlider(slider);
          });
        };

        const initializeSlider = (slider) => {
          const slides = slider.querySelectorAll('[data-type="slide"]');
          const middle = Math.ceil(slides.length / 2);
          let currentSlide = middle;

          const nextSlideBtns = document.querySelectorAll(
            '[data-action="nextSlide"]'
          );
          const previousSlideBtns = document.querySelectorAll(
            '[data-action="previousSlide"]'
          );

          const changeSlide = (slideIndex, action) => {
            currentSlide = slideIndex;

            switch (action) {
              case "next":
                slideIndex === slides.length
                  ? (currentSlide = 1)
                  : currentSlide++;
                break;
              case "previous":
                slideIndex === 1
                  ? (currentSlide = slides.length)
                  : currentSlide--;
            }

            const slide = slides[0];
            if (!slide) {
              console.error("No slides present");
              return;
            }
            const style = window.getComputedStyle(slide);
            slideWidth =
              parseInt(style.width) +
              parseInt(style.marginLeft) +
              parseInt(style.marginRight);
            const transformValue = -slideWidth * (currentSlide - middle);

            slider.style.transform = `translateX(${transformValue}px)`;
          };

          previousSlideBtns.forEach((btn) => {
            btn.addEventListener("click", () =>
              changeSlide(currentSlide, "previous")
            );
          });

          nextSlideBtns.forEach((btn) => {
            btn.addEventListener("click", () =>
              changeSlide(currentSlide, "next")
            );
          });
        };

        runAllScripts();
      };
    </script>
    <script>
      let url = window.location.search;
      let urlParam = new URLSearchParams(url);

      let namaKonsumen = urlParam.get('nama_konsumen') || 'Sobat Honda';

      document.getElementById('nama_konsumen').innerHTML = namaKonsumen;
    </script>
  </body>
</html>
